- content_for :title, "Graham Womack’s Hall of Fame Project"

= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 The 50 Best Baseball Players Not in the Hall of Fame
  %span An annual project run by Graham Womack of Baseball Past and Present

%figure.banner
  %img{:src => "/assets/photos/allendi01.jpg"}
  %figcaption
    That’s Dick Allen.
    %a{:href => "http://www.loc.gov/pictures/item/ggb2004010498/"} Photo Credit

%article#graham-body.long-form

  - content = capture_haml do
    :plain
      Each year, Graham Womack of [Baseball Past and Present](http://baseballpastandpresent.com) invites his readers to vote for the fifty best players outside of the Hall of Fame. He publishes a new version of the project each year:

      * Year 4
      * [Year 3](http://baseballpastandpresent.com/2013/01/02/50-baseball-players-hall-fame-version-3-0/)
      * [Year 2](http://baseballpastandpresent.com/2011/12/11/50-baseball-players-hall-fame-version-2-0/)
      * [Year 1](http://baseballpastandpresent.com/2010/12/06/the-50-best-baseball-players-not-in-the-hall-of-fame/)

      ### This Year’s Top 50
      Here are the results of this year’s election (along with each player’s previous rankings). ‘“NYE” denotes “Not Yet Eligible”.

  = raw BioFormatter.new(content)

  %table
    %thead
      %tr
        %th Player
        %th Year 4
        %th Year 3
        %th Year 2
        %th Year 1
    %tbody

      %tr#raineti01
        %th.graham-name
          %span Tim
          Raines
        %td.graham-2013
          %span.icon
            %span.rank 1
        %td.graham-2012
          %span.icon
            %span.rank 1
        %td.graham-2011
          %span.icon
            %span.rank 5
        %td.graham-2010
          %span.icon
            %span.rank 7

      %tr#biggicr01
        %th.graham-name
          %span Craig
          Biggio
        %td.graham-2013
          %span.icon
            %span.rank T2
        %td.graham-2012
          %span.icon
            %span.rank 2
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#bagweje01
        %th.graham-name
          %span Jeff
          Bagwell
        %td.graham-2013
          %span.icon
            %span.rank T2
        %td.graham-2012
          %span.icon
            %span.rank 3
        %td.graham-2011
          %span.icon
            %span.rank 3
        %td.graham-2010
          %span.icon
            %span.rank T5

      %tr#maddugr01
        %th.graham-name
          %span Greg
          Maddux
        %td.graham-2013
          %span.icon
            %span.rank 4
        %td.graham-2012.nye
          %span.icon
            %span.rank NYE
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#bondsba01
        %th.graham-name
          %span Barry
          Bonds
        %td.graham-2013
          %span.icon
            %span.rank 5
        %td.graham-2012
          %span.icon
            %span.rank T8
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#piazzmi01
        %th.graham-name
          %span Mike
          Piazza
        %td.graham-2013
          %span.icon
            %span.rank T6
        %td.graham-2012
          %span.icon
            %span.rank 11
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#clemero02
        %th.graham-name
          %span Roger
          Clemens
        %td.graham-2013
          %span.icon
            %span.rank T6
        %td.graham-2012
          %span.icon
            %span.rank T6
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#trammal01
        %th.graham-name
          %span Alan
          Trammell
        %td.graham-2013
          %span.icon
            %span.rank 8
        %td.graham-2012
          %span.icon
            %span.rank 5
        %td.graham-2011
          %span.icon
            %span.rank T6
        %td.graham-2010
          %span.icon
            %span.rank 4

      %tr#glavito02
        %th.graham-name
          %span Tom
          Glavine
        %td.graham-2013
          %span.icon
            %span.rank 9
        %td.graham-2012.nye
          %span.icon
            %span.rank NYE
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#jacksjo01
        %th.graham-name
          %span Joe
          Jackson
        %td.graham-2013
          %span.icon
            %span.rank 10
        %td.graham-2012
          %span.icon
            %span.rank 4
        %td.graham-2011
          %span.icon
            %span.rank 1
        %td.graham-2010
          %span.icon
            %span.rank T5

      %tr#martied01
        %th.graham-name
          %span Edgar
          Martinez
        %td.graham-2013
          %span.icon
            %span.rank 11
        %td.graham-2012
          %span.icon
            %span.rank T8
        %td.graham-2011
          %span.icon
            %span.rank 9
        %td.graham-2010
          %span.icon
            %span.rank 9

      %tr#thomafr04
        %th.graham-name
          %span Frank
          Thomas
        %td.graham-2013
          %span.icon
            %span.rank 12
        %td.graham-2012.nye
          %span.icon
            %span.rank NYE
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#rosepe01
        %th.graham-name
          %span Pete
          Rose
        %td.graham-2013
          %span.icon
            %span.rank 13
        %td.graham-2012
          %span.icon
            %span.rank T6
        %td.graham-2011
          %span.icon
            %span.rank T6
        %td.graham-2010
          %span.icon
            %span.rank 10

      %tr#walkela01
        %th.graham-name
          %span Larry
          Walker
        %td.graham-2013
          %span.icon
            %span.rank 14
        %td.graham-2012
          %span.icon
            %span.rank 18
        %td.graham-2011
          %span.icon
            %span.rank 17
        %td.graham-2010
          %span.icon
            %span.rank 15

      %tr#mcgwima01
        %th.graham-name
          %span Mark
          McGwire
        %td.graham-2013
          %span.icon
            %span.rank 15
        %td.graham-2012
          %span.icon
            %span.rank 16
        %td.graham-2011
          %span.icon
            %span.rank T14
        %td.graham-2010
          %span.icon
            %span.rank T20

      %tr#schilcu01
        %th.graham-name
          %span Curt
          Schilling
        %td.graham-2013
          %span.icon
            %span.rank 16
        %td.graham-2012
          %span.icon
            %span.rank 15
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#evansdw01
        %th.graham-name
          %span Dwight
          Evans
        %td.graham-2013
          %span.icon
            %span.rank 17
        %td.graham-2012
          %span.icon
            %span.rank T13
        %td.graham-2011
          %span.icon
            %span.rank 10
        %td.graham-2010
          %span.icon
            %span.rank 12

      %tr#allendi01
        %th.graham-name
          %span Dick
          Allen
        %td.graham-2013
          %span.icon
            %span.rank 18
        %td.graham-2012
          %span.icon
            %span.rank 12
        %td.graham-2011
          %span.icon
            %span.rank 4
        %td.graham-2010
          %span.icon
            %span.rank 11

      %tr#mussimi01
        %th.graham-name
          %span Mike
          Mussina
        %td.graham-2013
          %span.icon
            %span.rank 19
        %td.graham-2012.nye
          %span.icon
            %span.rank NYE
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#whitalo01
        %th.graham-name
          %span Lou
          Whitaker
        %td.graham-2013
          %span.icon
            %span.rank 20
        %td.graham-2012
          %span.icon
            %span.rank 10
        %td.graham-2011
          %span.icon
            %span.rank 12
        %td.graham-2010
          %span.icon
            %span.rank 14

      %tr#palmera01
        %th.graham-name
          %span Rafael
          Palmeiro
        %td.graham-2013
          %span.icon
            %span.rank 21
        %td.graham-2012
          %span.icon
            %span.rank T13
        %td.graham-2011
          %span.icon
            %span.rank 10
        %td.graham-2010
          %span.icon
            %span.rank T28

      %tr#sosasa01
        %th.graham-name
          %span Sammy
          Sosa
        %td.graham-2013
          %span.icon
            %span.rank 22
        %td.graham-2012
          %span.icon
            %span.rank T21
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#tiantlu01
        %th.graham-name
          %span Luis
          Tiant
        %td.graham-2013
          %span.icon
            %span.rank 23
        %td.graham-2012
          %span.icon
            %span.rank 17
        %td.graham-2011
          %span.icon
            %span.rank T19
        %td.graham-2010
          %span.icon
            %span.rank T17

      %tr#grichbo01
        %th.graham-name
          %span Bobby
          Grich
        %td.graham-2013
          %span.icon
            %span.rank T24
        %td.graham-2012
          %span.icon
            %span.rank T19
        %td.graham-2011
          %span.icon
            %span.rank 18
        %td.graham-2010
          %span.icon
            %span.rank T22

      %tr#loftoke01
        %th.graham-name
          %span Kenny
          Lofton
        %td.graham-2013
          %span.icon
            %span.rank T24
        %td.graham-2012
          %span.icon
            %span.rank 24
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#simmote01
        %th.graham-name
          %span Ted
          Simmons
        %td.graham-2013
          %span.icon
            %span.rank 26
        %td.graham-2012
          %span.icon
            %span.rank T21
        %td.graham-2011
          %span.icon
            %span.rank 13
        %td.graham-2010
          %span.icon
            %span.rank 13

      %tr#hernake01
        %th.graham-name
          %span Keith
          Hernandez
        %td.graham-2013
          %span.icon
            %span.rank T27
        %td.graham-2012
          %span.icon
            %span.rank 23
        %td.graham-2011
          %span.icon
            %span.rank 16
        %td.graham-2010
          %span.icon
            %span.rank T22

      %tr#johnto01
        %th.graham-name
          %span Tommy
          John
        %td.graham-2013
          %span.icon
            %span.rank T27
        %td.graham-2012
          %span.icon
            %span.rank 25
        %td.graham-2011
          %span.icon
            %span.rank 26
        %td.graham-2010
          %span.icon
            %span.rank T25

      %tr#murphda01
        %th.graham-name
          %span Dale
          Murphy
        %td.graham-2013
          %span.icon
            %span.rank 29
        %td.graham-2012
          %span.icon
            %span.rank T35
        %td.graham-2011
          %span.icon
            %span.rank T27
        %td.graham-2010
          %span.icon
            %span.rank T17

      %tr#mcgrifr01
        %th.graham-name
          %span Fred
          McGriff
        %td.graham-2013
          %span.icon
            %span.rank 30
        %td.graham-2012
          %span.icon
            %span.rank T26
        %td.graham-2011
          %span.icon
            %span.rank T22
        %td.graham-2010
          %span.icon
            %span.rank 16

      %tr#morrija02
        %th.graham-name
          %span Jack
          Morris
        %td.graham-2013
          %span.icon
            %span.rank T31
        %td.graham-2012
          %span.icon
            %span.rank 38
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank T36

      %tr#kentje01
        %th.graham-name
          %span Jeff
          Kent
        %td.graham-2013
          %span.icon
            %span.rank T31
        %td.graham-2012.nye
          %span.icon
            %span.rank NYE
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#nettlgr01
        %th.graham-name
          %span Graig
          Nettles
        %td.graham-2013
          %span.icon
            %span.rank 33
        %td.graham-2012
          %span.icon
            %span.rank 31
        %td.graham-2011
          %span.icon
            %span.rank T40
        %td.graham-2010
          %span.icon
            %span.rank T44

      %tr#torrejo01
        %th.graham-name
          %span Joe
          Torre
        %td.graham-2013
          %span.icon
            %span.rank 34
        %td.graham-2012
          %span.icon
            %span.rank T19
        %td.graham-2011
          %span.icon
            %span.rank 11
        %td.graham-2010
          %span.icon
            %span.rank T20

      %tr#minosmi01
        %th.graham-name
          %span Minnie
          Miñoso
        %td.graham-2013
          %span.icon
            %span.rank 35
        %td.graham-2012
          %span.icon
            %span.rank 33
        %td.graham-2011
          %span.icon
            %span.rank 21
        %td.graham-2010
          %span.icon
            %span.rank T31

      %tr#brownke01
        %th.graham-name
          %span Kevin
          Brown
        %td.graham-2013
          %span.icon
            %span.rank 36
        %td.graham-2012
          %span.icon
            %span.rank T35
        %td.graham-2011
          %span.icon
            %span.rank 35
        %td.graham-2010
          %span.icon
            %span.rank T38

      %tr#kaatji01
        %th.graham-name
          %span Jim
          Kaat
        %td.graham-2013
          %span.icon
            %span.rank 37
        %td.graham-2012
          %span.icon
            %span.rank 32
        %td.graham-2011
          %span.icon
            %span.rank T27
        %td.graham-2010
          %span.icon
            %span.rank T28

      %tr#hodgegi01
        %th.graham-name
          %span Gil
          Hodges
        %td.graham-2013
          %span.icon
            %span.rank 38
        %td.graham-2012
          %span.icon
            %span.rank T41
        %td.graham-2011
          %span.icon
            %span.rank 25
        %td.graham-2010
          %span.icon
            %span.rank 24

      %tr#mattido01
        %th.graham-name
          %span Don
          Mattingly
        %td.graham-2013
          %span.icon
            %span.rank 39
        %td.graham-2012
          %span.icon
            %span.rank 29
        %td.graham-2011
          %span.icon
            %span.rank T22
        %td.graham-2010
          %span.icon
            %span.rank 27

      %tr#boyerke01
        %th.graham-name
          %span Ken
          Boyer
        %td.graham-2013
          %span.icon
            %span.rank T40
        %td.graham-2012
          %span.icon
            %span.rank 37
        %td.graham-2011
          %span.icon
            %span.rank T27
        %td.graham-2010
          %span.icon
            %span.rank 35

      %tr#coneda01
        %th.graham-name
          %span David
          Cone
        %td.graham-2013
          %span.icon
            %span.rank T40
        %td.graham-2012
          %span.icon
            %span.rank T28
        %td.graham-2011
          %span.icon
            %span.rank T32
        %td.graham-2010
          %span.icon
            %span.rank T49

      %tr#dahlebi01
        %th.graham-name
          %span Bill
          Dahlen
        %td.graham-2013
          %span.icon
            %span.rank 42
        %td.graham-2012
          %span.icon
            %span.rank T26
        %td.graham-2011
          %span.icon
            %span.rank T32
        %td.graham-2010
          %span.icon
            %span.rank T40

      %tr#evansda01
        %th.graham-name
          %span Darrell
          Evans
        %td.graham-2013
          %span.icon
            %span.rank 43
        %td.graham-2012
          %span.icon
            %span.rank T28
        %td.graham-2011
          %span.icon
            %span.rank T32
        %td.graham-2010
          %span.icon
            %span.rank T40

      %tr#parkeda01
        %th.graham-name
          %span Dave
          Parker
        %td.graham-2013
          %span.icon
            %span.rank 44
        %td.graham-2012
          %span.icon
            %span.rank T49
        %td.graham-2011
          %span.icon
            %span.rank 36
        %td.graham-2010
          %span.icon
            %span.rank T28

      %tr#smithle02
        %th.graham-name
          %span Lee
          Smith
        %td.graham-2013
          %span.icon
            %span.rank 45
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank T36

      %tr#randowi01
        %th.graham-name
          %span Willie
          Randolph
        %td.graham-2013
          %span.icon
            %span.rank T45
        %td.graham-2012
          %span.icon
            %span.rank 45
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#bondsbo01
        %th.graham-name
          %span Bobby
          Bonds
        %td.graham-2013
          %span.icon
            %span.rank 47
        %td.graham-2012
          %span.icon
            %span.rank T41
        %td.graham-2011
          %span.icon
            %span.rank T22
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#stiebda01
        %th.graham-name
          %span Dave
          Stieb
        %td.graham-2013
          %span.icon
            %span.rank T48
        %td.graham-2012
          %span.icon
            %span.rank 44
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#munsoth01
        %th.graham-name
          %span Thurman
          Munson
        %td.graham-2013
          %span.icon
            %span.rank T48
        %td.graham-2012
          %span.icon
            %span.rank 46
        %td.graham-2011
          %span.icon
            %span.rank T37
        %td.graham-2010
          %span.icon
            %span.rank 47

      %tr#saberbr01
        %th.graham-name
          %span Bret
          Saberhagen
        %td.graham-2013
          %span.icon
            %span.rank 50
        %td.graham-2012
          %span.icon
            %span.rank 40
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank 50+

  - content = capture_haml do
    :plain
      There has been a great deal of fluctiation in the vote for several reasons. First of all, twelve of the players on this year’s ballot were not yet eligible in the first election. That alone is bound to cause some shifting. Second, the size of the voting body has more than doubled. That brings in waves of new voters with a variety of different opinions. Yet another reason is that a handful of players have been elected since Graham started the project.

      ### Hall of Famers
      These players were a part of the project at one point but are now Hall of Famers.

  = raw BioFormatter.new(content)

  %table
    %thead
      %tr
        %th Player
        %th Year 4
        %th Year 3
        %th Year 2
        %th Year 1
    %tbody

      %tr#blylebe01
        %th.graham-name
          %span Bert
          Blyleven
        %td.graham-2013.hof
          %span.icon
            %span.rank HOF
        %td.graham-2012.hof
          %span.icon
            %span.rank HOF
        %td.graham-2011.hof
          %span.icon
            %span.rank HOF
        %td.graham-2010
          %span.icon
            %span.rank 1

      %tr#alomaro01
        %th.graham-name
          %span Roberto
          Alomar
        %td.graham-2013.hof
          %span.icon
            %span.rank HOF
        %td.graham-2012.hof
          %span.icon
            %span.rank HOF
        %td.graham-2011.hof
          %span.icon
            %span.rank HOF
        %td.graham-2010
          %span.icon
            %span.rank T2

      %tr#larkiba01
        %th.graham-name
          %span Barry
          Larkin
        %td.graham-2013.hof
          %span.icon
            %span.rank HOF
        %td.graham-2012.hof
          %span.icon
            %span.rank HOF
        %td.graham-2011
          %span.icon
            %span.rank 2
        %td.graham-2010
          %span.icon
            %span.rank 8

      %tr#santoro01
        %th.graham-name
          %span Ron
          Santo
        %td.graham-2013.hof
          %span.icon
            %span.rank HOF
        %td.graham-2012.hof
          %span.icon
            %span.rank HOF
        %td.graham-2011
          %span.icon
            %span.rank T6
        %td.graham-2010
          %span.icon
            %span.rank T2

  - content = capture_haml do
    :plain
      @whitede01 was also inducted to the Hall of Fame despite never ranking in a Top 50. But 19th century players—particularly those who played a pioneering role in the game—are always underrated in this project. Deacon clearly belongs.

      ### All Past Vote-getters

      Here is an alphabetical list of every player who has appeared in the Top 50 during any year.

  = raw BioFormatter.new(content)

  %table
    %thead
      %tr
        %th Player
        %th Year 4
        %th Year 3
        %th Year 2
        %th Year 1
    %tbody

      %tr#allendi01
        %th.graham-name
          %span Dick
          Allen
        %td.graham-2013
          %span.icon
            %span.rank 18
        %td.graham-2012
          %span.icon
            %span.rank 12
        %td.graham-2011
          %span.icon
            %span.rank 4
        %td.graham-2010
          %span.icon
            %span.rank 11

      %tr#alomaro01
        %th.graham-name
          %span Roberto
          Alomar
        %td.graham-2013.hof
          %span.icon
            %span.rank HOF
        %td.graham-2012.hof
          %span.icon
            %span.rank HOF
        %td.graham-2011.hof
          %span.icon
            %span.rank HOF
        %td.graham-2010
          %span.icon
            %span.rank T2

      %tr#bagweje01
        %th.graham-name
          %span Jeff
          Bagwell
        %td.graham-2013
          %span.icon
            %span.rank T2
        %td.graham-2012
          %span.icon
            %span.rank 3
        %td.graham-2011
          %span.icon
            %span.rank 3
        %td.graham-2010
          %span.icon
            %span.rank T5

      %tr#baineha01
        %th.graham-name
          %span Harold
          Baines
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank T45
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#belleal01
        %th.graham-name
          %span Albert
          Belle
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank T49
        %td.graham-2011
          %span.icon
            %span.rank 31
        %td.graham-2010
          %span.icon
            %span.rank T31

      %tr#biggicr01
        %th.graham-name
          %span Craig
          Biggio
        %td.graham-2013
          %span.icon
            %span.rank T2
        %td.graham-2012
          %span.icon
            %span.rank 2
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#blylebe01
        %th.graham-name
          %span Bert
          Blyleven
        %td.graham-2013.hof
          %span.icon
            %span.rank HOF
        %td.graham-2012.hof
          %span.icon
            %span.rank HOF
        %td.graham-2011.hof
          %span.icon
            %span.rank HOF
        %td.graham-2010
          %span.icon
            %span.rank 1

      %tr#bondsba01
        %th.graham-name
          %span Barry
          Bonds
        %td.graham-2013
          %span.icon
            %span.rank 5
        %td.graham-2012
          %span.icon
            %span.rank T8
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#bondsbo01
        %th.graham-name
          %span Bobby
          Bonds
        %td.graham-2013
          %span.icon
            %span.rank 47
        %td.graham-2012
          %span.icon
            %span.rank T41
        %td.graham-2011
          %span.icon
            %span.rank T22
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#boyerke01
        %th.graham-name
          %span Ken
          Boyer
        %td.graham-2013
          %span.icon
            %span.rank T40
        %td.graham-2012
          %span.icon
            %span.rank 37
        %td.graham-2011
          %span.icon
            %span.rank T27
        %td.graham-2010
          %span.icon
            %span.rank 35

      %tr#brownke01
        %th.graham-name
          %span Kevin
          Brown
        %td.graham-2013
          %span.icon
            %span.rank 36
        %td.graham-2012
          %span.icon
            %span.rank T35
        %td.graham-2011
          %span.icon
            %span.rank 35
        %td.graham-2010
          %span.icon
            %span.rank T38

      %tr#carutbo01
        %th.graham-name
          %span Bob
          Caruthers
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank T45
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#clarkwi01
        %th.graham-name
          %span Will
          Clark
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 34
        %td.graham-2011
          %span.icon
            %span.rank T14
        %td.graham-2010
          %span.icon
            %span.rank T17

      %tr#clemero02
        %th.graham-name
          %span Roger
          Clemens
        %td.graham-2013
          %span.icon
            %span.rank T6
        %td.graham-2012
          %span.icon
            %span.rank T6
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#conceda01
        %th.graham-name
          %span Dave
          Concepcion
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank T45
        %td.graham-2010
          %span.icon
            %span.rank T49

      %tr#coneda01
        %th.graham-name
          %span David
          Cone
        %td.graham-2013
          %span.icon
            %span.rank T40
        %td.graham-2012
          %span.icon
            %span.rank T28
        %td.graham-2011
          %span.icon
            %span.rank T32
        %td.graham-2010
          %span.icon
            %span.rank T49

      %tr#dahlebi01
        %th.graham-name
          %span Bill
          Dahlen
        %td.graham-2013
          %span.icon
            %span.rank 42
        %td.graham-2012
          %span.icon
            %span.rank T26
        %td.graham-2011
          %span.icon
            %span.rank T32
        %td.graham-2010
          %span.icon
            %span.rank T40

      %tr#evansda01
        %th.graham-name
          %span Darrell
          Evans
        %td.graham-2013
          %span.icon
            %span.rank 43
        %td.graham-2012
          %span.icon
            %span.rank T28
        %td.graham-2011
          %span.icon
            %span.rank T32
        %td.graham-2010
          %span.icon
            %span.rank T40

      %tr#evansdw01
        %th.graham-name
          %span Dwight
          Evans
        %td.graham-2013
          %span.icon
            %span.rank 17
        %td.graham-2012
          %span.icon
            %span.rank T13
        %td.graham-2011
          %span.icon
            %span.rank 10
        %td.graham-2010
          %span.icon
            %span.rank 12

      %tr#ferrewe01
        %th.graham-name
          %span Wes
          Ferrell
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 39
        %td.graham-2011
          %span.icon
            %span.rank 45
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#freehbi01
        %th.graham-name
          %span Bill
          Freehan
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank 48

      %tr#garvest01
        %th.graham-name
          %span Steve
          Garvey
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank T41
        %td.graham-2010
          %span.icon
            %span.rank 34

      %tr#glavito02
        %th.graham-name
          %span Tom
          Glavine
        %td.graham-2013
          %span.icon
            %span.rank 9
        %td.graham-2012.nye
          %span.icon
            %span.rank NYE
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#grichbo01
        %th.graham-name
          %span Bobby
          Grich
        %td.graham-2013
          %span.icon
            %span.rank T24
        %td.graham-2012
          %span.icon
            %span.rank T19
        %td.graham-2011
          %span.icon
            %span.rank 18
        %td.graham-2010
          %span.icon
            %span.rank T22

      %tr#guidrro01
        %th.graham-name
          %span Ron
          Guidry
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank T41
        %td.graham-2010
          %span.icon
            %span.rank T31

      %tr#hernake01
        %th.graham-name
          %span Keith
          Hernandez
        %td.graham-2013
          %span.icon
            %span.rank T27
        %td.graham-2012
          %span.icon
            %span.rank 23
        %td.graham-2011
          %span.icon
            %span.rank 16
        %td.graham-2010
          %span.icon
            %span.rank T22

      %tr#hershor01
        %th.graham-name
          %span Orel
          Hershiser
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank T41
        %td.graham-2010
          %span.icon
            %span.rank 43

      %tr#hodgegi01
        %th.graham-name
          %span Gil
          Hodges
        %td.graham-2013
          %span.icon
            %span.rank 38
        %td.graham-2012
          %span.icon
            %span.rank T41
        %td.graham-2011
          %span.icon
            %span.rank 25
        %td.graham-2010
          %span.icon
            %span.rank 24

      %tr#jacksjo01
        %th.graham-name
          %span Joe
          Jackson
        %td.graham-2013
          %span.icon
            %span.rank 10
        %td.graham-2012
          %span.icon
            %span.rank 4
        %td.graham-2011
          %span.icon
            %span.rank 1
        %td.graham-2010
          %span.icon
            %span.rank T5

      %tr#johnto01
        %th.graham-name
          %span Tommy
          John
        %td.graham-2013
          %span.icon
            %span.rank T27
        %td.graham-2012
          %span.icon
            %span.rank 25
        %td.graham-2011
          %span.icon
            %span.rank 26
        %td.graham-2010
          %span.icon
            %span.rank T25

      %tr#kaatji01
        %th.graham-name
          %span Jim
          Kaat
        %td.graham-2013
          %span.icon
            %span.rank 37
        %td.graham-2012
          %span.icon
            %span.rank 32
        %td.graham-2011
          %span.icon
            %span.rank T27
        %td.graham-2010
          %span.icon
            %span.rank T28

      %tr#kentje01
        %th.graham-name
          %span Jeff
          Kent
        %td.graham-2013
          %span.icon
            %span.rank T31
        %td.graham-2012.nye
          %span.icon
            %span.rank NYE
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#larkiba01
        %th.graham-name
          %span Barry
          Larkin
        %td.graham-2013.hof
          %span.icon
            %span.rank HOF
        %td.graham-2012.hof
          %span.icon
            %span.rank HOF
        %td.graham-2011
          %span.icon
            %span.rank 2
        %td.graham-2010
          %span.icon
            %span.rank 8

      %tr#loftoke01
        %th.graham-name
          %span Kenny
          Lofton
        %td.graham-2013
          %span.icon
            %span.rank T24
        %td.graham-2012
          %span.icon
            %span.rank 24
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#maddugr01
        %th.graham-name
          %span Greg
          Maddux
        %td.graham-2013
          %span.icon
            %span.rank 4
        %td.graham-2012.nye
          %span.icon
            %span.rank NYE
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#marisro01
        %th.graham-name
          %span Roger
          Maris
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank T45
        %td.graham-2010
          %span.icon
            %span.rank T40

      %tr#martied01
        %th.graham-name
          %span Edgar
          Martinez
        %td.graham-2013
          %span.icon
            %span.rank 11
        %td.graham-2012
          %span.icon
            %span.rank T8
        %td.graham-2011
          %span.icon
            %span.rank 9
        %td.graham-2010
          %span.icon
            %span.rank 9

      %tr#mattido01
        %th.graham-name
          %span Don
          Mattingly
        %td.graham-2013
          %span.icon
            %span.rank 39
        %td.graham-2012
          %span.icon
            %span.rank 29
        %td.graham-2011
          %span.icon
            %span.rank T22
        %td.graham-2010
          %span.icon
            %span.rank 27

      %tr#mcgrifr01
        %th.graham-name
          %span Fred
          McGriff
        %td.graham-2013
          %span.icon
            %span.rank 30
        %td.graham-2012
          %span.icon
            %span.rank T26
        %td.graham-2011
          %span.icon
            %span.rank T22
        %td.graham-2010
          %span.icon
            %span.rank 16

      %tr#mcgwima01
        %th.graham-name
          %span Mark
          McGwire
        %td.graham-2013
          %span.icon
            %span.rank 15
        %td.graham-2012
          %span.icon
            %span.rank 16
        %td.graham-2011
          %span.icon
            %span.rank T14
        %td.graham-2010
          %span.icon
            %span.rank T20

      %tr#minosmi01
        %th.graham-name
          %span Minnie
          Miñoso
        %td.graham-2013
          %span.icon
            %span.rank 35
        %td.graham-2012
          %span.icon
            %span.rank 33
        %td.graham-2011
          %span.icon
            %span.rank 21
        %td.graham-2010
          %span.icon
            %span.rank T31

      %tr#morrija02
        %th.graham-name
          %span Jack
          Morris
        %td.graham-2013
          %span.icon
            %span.rank T31
        %td.graham-2012
          %span.icon
            %span.rank 38
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank T36

      %tr#munsoth01
        %th.graham-name
          %span Thurman
          Munson
        %td.graham-2013
          %span.icon
            %span.rank T48
        %td.graham-2012
          %span.icon
            %span.rank 46
        %td.graham-2011
          %span.icon
            %span.rank T37
        %td.graham-2010
          %span.icon
            %span.rank 47

      %tr#murphda01
        %th.graham-name
          %span Dale
          Murphy
        %td.graham-2013
          %span.icon
            %span.rank 29
        %td.graham-2012
          %span.icon
            %span.rank T35
        %td.graham-2011
          %span.icon
            %span.rank T27
        %td.graham-2010
          %span.icon
            %span.rank T17

      %tr#mussimi01
        %th.graham-name
          %span Mike
          Mussina
        %td.graham-2013
          %span.icon
            %span.rank 19
        %td.graham-2012.nye
          %span.icon
            %span.rank NYE
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#nettlgr01
        %th.graham-name
          %span Graig
          Nettles
        %td.graham-2013
          %span.icon
            %span.rank 33
        %td.graham-2012
          %span.icon
            %span.rank 31
        %td.graham-2011
          %span.icon
            %span.rank T40
        %td.graham-2010
          %span.icon
            %span.rank T44

      %tr#oneilbu01
        %th.graham-name
          %span Buck
          O’Neil
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank T44

      %tr#olerujo01
        %th.graham-name
          %span John
          Olerud
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank T45
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#olivato01
        %th.graham-name
          %span Tony
          Oliva
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank 30
        %td.graham-2010
          %span.icon
            %span.rank T25

      %tr#palmera01
        %th.graham-name
          %span Rafael
          Palmeiro
        %td.graham-2013
          %span.icon
            %span.rank 21
        %td.graham-2012
          %span.icon
            %span.rank T13
        %td.graham-2011
          %span.icon
            %span.rank 10
        %td.graham-2010
          %span.icon
            %span.rank T28

      %tr#parkeda01
        %th.graham-name
          %span Dave
          Parker
        %td.graham-2013
          %span.icon
            %span.rank 44
        %td.graham-2012
          %span.icon
            %span.rank T49
        %td.graham-2011
          %span.icon
            %span.rank 36
        %td.graham-2010
          %span.icon
            %span.rank T28

      %tr#piazzmi01
        %th.graham-name
          %span Mike
          Piazza
        %td.graham-2013
          %span.icon
            %span.rank T6
        %td.graham-2012
          %span.icon
            %span.rank 11
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#quiseda01
        %th.graham-name
          %span Dan
          Quisenberry
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank T38

      %tr#raineti01
        %th.graham-name
          %span Tim
          Raines
        %td.graham-2013
          %span.icon
            %span.rank 1
        %td.graham-2012
          %span.icon
            %span.rank 1
        %td.graham-2011
          %span.icon
            %span.rank 5
        %td.graham-2010
          %span.icon
            %span.rank 7

      %tr#randowi01
        %th.graham-name
          %span Willie
          Randolph
        %td.graham-2013
          %span.icon
            %span.rank T45
        %td.graham-2012
          %span.icon
            %span.rank 45
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#reuscri01
        %th.graham-name
          %span Rick
          Reuschel
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank T47
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#rosepe01
        %th.graham-name
          %span Pete
          Rose
        %td.graham-2013
          %span.icon
            %span.rank 13
        %td.graham-2012
          %span.icon
            %span.rank T6
        %td.graham-2011
          %span.icon
            %span.rank T6
        %td.graham-2010
          %span.icon
            %span.rank 10

      %tr#saberbr01
        %th.graham-name
          %span Bret
          Saberhagen
        %td.graham-2013
          %span.icon
            %span.rank 50
        %td.graham-2012
          %span.icon
            %span.rank 40
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#santoro01
        %th.graham-name
          %span Ron
          Santo
        %td.graham-2013.hof
          %span.icon
            %span.rank HOF
        %td.graham-2012.hof
          %span.icon
            %span.rank HOF
        %td.graham-2011
          %span.icon
            %span.rank T6
        %td.graham-2010
          %span.icon
            %span.rank T2

      %tr#schilcu01
        %th.graham-name
          %span Curt
          Schilling
        %td.graham-2013
          %span.icon
            %span.rank 16
        %td.graham-2012
          %span.icon
            %span.rank 15
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#simmote01
        %th.graham-name
          %span Ted
          Simmons
        %td.graham-2013
          %span.icon
            %span.rank 26
        %td.graham-2012
          %span.icon
            %span.rank T21
        %td.graham-2011
          %span.icon
            %span.rank 13
        %td.graham-2010
          %span.icon
            %span.rank 13

      %tr#smithle02
        %th.graham-name
          %span Lee
          Smith
        %td.graham-2013
          %span.icon
            %span.rank 45
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank T36

      %tr#smithre06
        %th.graham-name
          %span Reggie
          Smith
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 43
        %td.graham-2011
          %span.icon
            %span.rank T43
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#sosasa01
        %th.graham-name
          %span Sammy
          Sosa
        %td.graham-2013
          %span.icon
            %span.rank 22
        %td.graham-2012
          %span.icon
            %span.rank T21
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#stiebda01
        %th.graham-name
          %span Dave
          Stieb
        %td.graham-2013
          %span.icon
            %span.rank T48
        %td.graham-2012
          %span.icon
            %span.rank 44
        %td.graham-2011
          %span.icon
            %span.rank 50+
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#thomafr04
        %th.graham-name
          %span Frank
          Thomas
        %td.graham-2013
          %span.icon
            %span.rank 12
        %td.graham-2012.nye
          %span.icon
            %span.rank NYE
        %td.graham-2011.nye
          %span.icon
            %span.rank NYE
        %td.graham-2010.nye
          %span.icon
            %span.rank NYE

      %tr#tiantlu01
        %th.graham-name
          %span Luis
          Tiant
        %td.graham-2013
          %span.icon
            %span.rank 23
        %td.graham-2012
          %span.icon
            %span.rank 17
        %td.graham-2011
          %span.icon
            %span.rank T19
        %td.graham-2010
          %span.icon
            %span.rank T17

      %tr#torrejo01
        %th.graham-name
          %span Joe
          Torre
        %td.graham-2013
          %span.icon
            %span.rank 34
        %td.graham-2012
          %span.icon
            %span.rank T19
        %td.graham-2011
          %span.icon
            %span.rank 11
        %td.graham-2010
          %span.icon
            %span.rank T20

      %tr#trammal01
        %th.graham-name
          %span Alan
          Trammell
        %td.graham-2013
          %span.icon
            %span.rank 8
        %td.graham-2012
          %span.icon
            %span.rank 5
        %td.graham-2011
          %span.icon
            %span.rank T6
        %td.graham-2010
          %span.icon
            %span.rank 4

      %tr#walkela01
        %th.graham-name
          %span Larry
          Walker
        %td.graham-2013
          %span.icon
            %span.rank 14
        %td.graham-2012
          %span.icon
            %span.rank 18
        %td.graham-2011
          %span.icon
            %span.rank 17
        %td.graham-2010
          %span.icon
            %span.rank 15

      %tr#whitalo01
        %th.graham-name
          %span Lou
          Whitaker
        %td.graham-2013
          %span.icon
            %span.rank 20
        %td.graham-2012
          %span.icon
            %span.rank 10
        %td.graham-2011
          %span.icon
            %span.rank 12
        %td.graham-2010
          %span.icon
            %span.rank 14

      %tr#willibe02
        %th.graham-name
          %span Bernie
          Williams
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank 50+
        %td.graham-2011
          %span.icon
            %span.rank T37
        %td.graham-2010
          %span.icon
            %span.rank 50+

      %tr#wynnji01
        %th.graham-name
          %span Jimmy
          Wynn
        %td.graham-2013
          %span.icon
            %span.rank 50+
        %td.graham-2012
          %span.icon
            %span.rank T47
        %td.graham-2011
          %span.icon
            %span.rank T37
        %td.graham-2010
          %span.icon
            %span.rank T44

