= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 Franchise Rankings

%figure.banner
  %img{:src => "/assets/photos/redsox.jpg"}/
  %figcaption
    %a{:href => "http://www.flickr.com/photos/keithallison/6190649225/"} Photo Credit


%section#franchises
  %h3 Current Franchises
  %ul.franchise-list
    - Franchise.active.each do |franchise|
      %li
        = link_to franchise_path(franchise.id) do
          %abbr.franchise-abbr{ class: franchise.id + "-bg", title: franchise.name }= franchise.id.upcase
          = franchise.name
          %span (#{franchise.years_existed})

  %h3 Past Franchises
  %ul.franchise-list
    - Franchise.past.each do |franchise|
      %li
        = link_to franchise_path(franchise.id) do
          = franchise.name
          %span (#{franchise.years_existed})
