= render 'shared/header'

= render 'shared/search'

%h2 All Franchises

%ol#franchises
  - Franchise.all.each do |franchise|
    %li= link_to "#{franchise.id.upcase}: #{franchise.name} (#{franchise.first_year}–#{franchise.last_year})", franchise_path(franchise.id)
    
