= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 Franchise Rankings

%figure.banner
  %img{:src => "/assets/photos/athletics-red-stockings.jpg"}/
  %figcaption
    Athletics and Red Stockings, 1875.
    %a{:href => "http://www.flickr.com/photos/boston_public_library/2350723098/"} Photo Credit


%section#franchises
  %h3 Current Franchises
  %ul.franchise-list
    - Franchise.active.each do |franchise|
      %li
        = link_to franchise_path(franchise.id) do
          = franchise.name
          %span= franchise.years_existed

  %h3 Past Franchises
  %ul.franchise-list
    - Franchise.past.each do |franchise|
      %li
        = link_to franchise_path(franchise.id) do
          = franchise.name
          %span= franchise.years_existed
