= render 'shared/header'

= render 'shared/search'

%h2 All Franchises

%ol#franchises
  - Franchise.all.each do |franchise|
    %li= link_to "#{franchise.name} (#{franchise.id.upcase})", franchise_path(franchise.id)
    
