= render 'shared/header'

= render 'shared/search'

%header.title
  %h2
    = @franchise.name
    %small (#{@franchise.years_existed})

%figure.banner
  %img{:src => "/assets/photos/#{@franchise.img}"}/
  %figcaption
    That’s #{@franchise.player}.
    %a{:href => @franchise.img_credit} Photo Credit

%nav.jump-menu
  %strong Jump to:
  %ol
    - Franchise.all.each do |franchise|
      %li= link_to "#{franchise.id.upcase}", franchise_path(franchise.id)

%section#inductees
  %h2.franchise-player
    %a#show-filters{href: '#'}
      #{@players.count} Greatest #{@franchise.id.upcase} Players
  #filters{style: 'display: none;'}
    %ul
      %li
        %a#show-franchise{href: '#franchise'}
          %span #{@players.count} 
          Greatest #{@franchise.id.upcase} Players

      %li
        %a#show-all{href: '#all'}
          %span #{@players.in_hos.count}
          Hall of Stats Inductees
      %li
        %a#show-all{href: '#hof'}
          %span #{@players.in_hof.count}
          Hall of Fame Inductees
  %ol.player-list
    - @players.each do |player|
      %li{id: safe_id(player.id), class: filter_data(player) + ['franchise']}
        = link_to player_path(player) do
          %strong
            #{player.name}
          %em #{player.years_played}
          %span= player.franchise_hall_rating.to_f.round
              
%section#all-time-team
  %h3 All-Time Team

  %ol
    - Position.all.each do |position|
      - next if position.id == 'dh'
      - player = @franchise.top_player_for_position(position.id)
      %li
        = succeed ":" do
          %strong= position.id.upcase
        - if player
          = link_to player.name, player_path(player)
          %span (#{player.franchise_hall_rating.to_f.round})

  %h3 Bench
  %p 7 best non-pitchers not listed above

  %h3 Bullpen
  %p 9 next-best pitchers
