- content_for :title, @franchise.name

= render 'shared/header'

= render 'shared/search'

- content_for(:header_styles) do
  - @players.each do |player|
    = render partial: 'shared/bar_width_style', locals: { player: player }

- content_for :header_scripts do
  :javascript
    var team_name = "#{@franchise.name}";
    var color = "#{@franchise.color || '#000000'}";
    var my_data = #{@my_all_data};
    var json_data = #{@json_data};
    var all_time_team_data = #{@data};
  = javascript_include_tag 'franchise_charts'
%header.title
  %h2
    = @franchise.name
    %small (#{@franchise.years_existed})
  - if @franchise.note
    %p.franchise-note= @franchise.note

- if @franchise.active?
  %figure.banner
    %img{:src => "/assets/photos/#{@franchise.img}.jpg"}/
    %figcaption
      That’s
      = succeed "." do
        = link_to @franchise.player, "/player/#{@franchise.img}", class: "player-link"
      %a{:href => @franchise.img_credit} Photo Credit

%nav.jump-menu
  %strong Jump to:
  %ol
    - Franchise.active.each do |franchise|
      %li= link_to "#{franchise.id.upcase}", franchise_path(franchise.id)
    %li= link_to "All Franchises", "/franchise"

- if @franchise.active?
  %section#chart-container
    .tooltip
      %strong.year
      %span.player
      %span.war
    %h3
      20 Greatest #{@franchise.name}
      %small by Wins Above Replacement
    %svg#all-time
    %h3
      #{@franchise.name} Season-by-Season
      %small by Wins Above Replacement
    %svg#total

%section#inductees.franchise{ 'data-franchise' => @franchise.id }
  %h2.franchise-player
    %a#show-filters{href: '#'}
      #{@players.count} Greatest #{@franchise.name}
  #filters-ajax{style: 'display: none;'}
    %ul
      %li
        %a#show-franchise{href: '#franchise'}
          %span #{@players.count} 
          Greatest #{@franchise.name}

      %li
        %a#show-all{href: '#hos'}
          %span #{@players.in_hos.count}
          Hall of Stats Inductees
      %li
        %a#show-all{href: '#hof'}
          %span #{@players.in_hof.count}
          Hall of Fame Inductees
      - ['p', 'c', '1b', '2b', '3b', 'ss', 'lf', 'cf', 'rf', 'dh'].each do |position|
        %li
          %a{id: "show-#{position}", href: "##{position}"}
            - if position == 'p'
              %span= @franchise.players.of_position(position).limit(200).count
              Best #{PlayerDecorator::POSITIONS[position].pluralize}
            - else
              %span= @franchise.players.of_position(position).count
              = PlayerDecorator::POSITIONS[position].pluralize

  %ol.player-list
    = render @players

%section#all-time-team
  %h3
    All-Time Team
    %small by Hall Rating with the #{@franchise.name}
    %span.about= link_to "(known issues and limitations)", "/articles/franchise-pages"

  %ol
    - %w{ c 1b 2b 3b ss lf cf rf p }.each do |position|
      - player = @all_stars.find{|p| p.position == position }
      %li
        = succeed ":" do
          %strong= position.upcase
        - if player
          = link_to player.name, player_path(player)
          %span (#{player.franchise_hall_rating.to_f.round})

  %h3 Bench
  %ol
    - @bench.each do |player|
      %li
        = succeed ":" do
          %strong= player.position.upcase
        - if player
          = link_to player.name, player_path(player)
          %span (#{player.franchise_hall_rating.to_f.round})

  %h3 Bullpen
  %ol
    - @bullpen.each do |player|
      %li
        = succeed ":" do
          %strong= player.position.upcase
        - if player
          = link_to player.name, player_path(player)
          %span (#{player.franchise_hall_rating.to_f.round})
