- content_for :title, "The Hall of Consensus"

= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 The Hall of Consensus

%figure.banner
  %img{:src => "/assets/photos/jacksjo01.jpg"}
  %figcaption
    That’s Shoeless Joe Jackson.
    %a{:href => "http://www.loc.gov/pictures/item/ggb2004010498/"} Photo Credit

%article#consensus-body.long-form
  %p
    The Hall of Consensus shows which players are supported by many sources for the Hall of Fame. These sources include the
    = succeed "," do
      %a{:href => "http://baseballhall.org"} National Baseball Hall of Fame
    the Hall of Stats,
    = succeed "," do
      %a{:href => "http://www.baseballthinkfactory.org/hall_of_merit"} Baseball Think Factory’s Hall of Merit
    and various Personal Halls of Fame.

  %p
    There are
    %strong= Player.hof_hos_hom.count
    players who are in the Hall of Fame, Hall of Stats, and Hall of Merit.
  %p
    %em Note: This first table only considers if someone was inducted as a player. The Negro Leagues table considers Hall of Famers of any classification.

  %table.consensus-table
    %thead
      %tr
        %th
          Name
          %small (Hall Rating)
        %th
          %abbr{title: "Hall of Fame"} HOF
        %th
          %abbr{title: "Hall of Stats"} HOS
        %th
          %abbr{title: "Hall of Merit"} HOM
    %tfoot
      %tr
        %th Totals
        %td= Player.in_hof.count
        %td= Player.in_hos.count
        %td= Player.in_hom.count
    %tbody
      - @hall_of_consensus_list.each do |hoc_player|
        %tr
          %th
            %a{href: player_path(hoc_player)}= hoc_player.name
            - unless hoc_player.only_mle
              %small (#{hoc_player.hall_rating_rounded})
          %td
            %span{title: "HOF: #{hoc_player.hof}", class: hoc_player.hof}= hoc_player.hof
          %td
            %span{title: "HOS: #{hoc_player.hos}", class: hoc_player.hos}= hoc_player.hos
          %td
            %span{title: "HOM: #{hoc_player.hom}", class: hoc_player.hom}= hoc_player.hom


  %h3 By Negro League MLEs
  %p
    For more information about Eric Chalek’s Negro League MLEs, see
    = succeed "." do
      %a{:href => "/articles/the-hall-of-stats-and-the-negro-leagues"} our announcement
  %p
    %em Note: Negro League Hall of Famers Frank Grant and Bud Fowler are not included because they do not have MLE data.

  %table.consensus-table
    %thead
      %tr
        %th
          Name
          %small (MLE Hall Rating)
        %th
          %abbr{title: "Hall of Fame"} HOF
        %th
          %abbr{title: "Hall of Stats"} HOS
        %th
          %abbr{title: "Hall of Merit"} HOM
    %tbody
      - @hall_of_consensus_nlb_list.each do |hoc_player|
        %tr
          %th
            %a{href: player_path(hoc_player)}= hoc_player.name
            %small (#{hoc_player.mle_rating_rounded})
          %td
            - if hoc_player.alt_hof
              %span{title: "HOF: true", class: true}= true
            - else
              %span{title: "HOF: false", class: false}= false
          %td
            - if hoc_player.mle_rating > 100
              %span{title: "HOF: true", class: true}= true
            - else
              %span{title: "HOF: false", class: false}= false
          %td
            %span{title: "HOM: #{hoc_player.hom}", class: hoc_player.hom}= hoc_player.hom

  %h3 Only in the Hall of Fame
  .two-columns
    .column
      %p By Hall Rating:
      %ol
        - @only_hof.each do |hoc_player|
          %li
            %a{href: player_path(hoc_player)}= hoc_player.name
            %small (#{hoc_player.hall_rating_rounded})
    .column
      %p By MLE Hall Rating:
      %ol
        - @only_nlb_hof.each do |hoc_player|
          %li
            %a{href: player_path(hoc_player)}= hoc_player.name
            %small (#{hoc_player.mle_rating_rounded})

  %h3 Only in the Hall of Stats
  .two-columns
    .column
      %p By Hall Rating:
      %ol
        - @only_hos.each do |hoc_player|
          %li
            %a{href: player_path(hoc_player)}= hoc_player.name
            %small (#{hoc_player.hall_rating_rounded})
    .column
      %p By MLE Hall Rating:
      %ol
        - @only_nlb_hos.each do |hoc_player|
          %li
            %a{href: player_path(hoc_player)}= hoc_player.name
            %small (#{hoc_player.mle_rating_rounded})

  %h3 Only in the Hall of Merit
  .two-columns
    .column
      %p By Hall Rating:
      %ol
        - @only_hom.each do |hoc_player|
          %li
            %a{href: player_path(hoc_player)}= hoc_player.name
            %small (#{hoc_player.hall_rating_rounded})
    .column
      %p By MLE Hall Rating:
      %ol
        - @only_nlb_hom.each do |hoc_player|
          %li
            %a{href: player_path(hoc_player)}= hoc_player.name
            %small (#{hoc_player.mle_rating_rounded})

  %h3 In the Hall of Stats and Hall of Merit, but not the Hall of Fame
  .two-columns
    .column
      %p By Hall Rating:
      %ol
        - @hos_hom.each do |hoc_player|
          %li
            %a{href: player_path(hoc_player)}= hoc_player.name
            %small (#{hoc_player.hall_rating_rounded})
    .column
      %p By MLE Hall Rating:
      %ol
        - @hos_hom_nlb.each do |hoc_player|
          %li
            %a{href: player_path(hoc_player)}= hoc_player.name
            %small (#{hoc_player.mle_rating_rounded})
