= render 'shared/header'

= render 'shared/search'

- @articles.each do |article|
  %article{class: 'long-form', id: "article-#{article.id}"}
    %header.title
      %h2= link_to article.title, article_path(article)
      %span
        = article.published_at.stamp("Jan 1, 2012")
        by Adam Darowski

    = raw article_truncation(article)

= paginate @articles
