- content_for :keywords do
  %meta{name: "keywords", content: "Hall of Stats,articles"}

- content_for :title, "Articles"

= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 Articles
  %span Original research and analysis by Adam Darowski

%figure.banner
  %img{:src => "/assets/photos/chadwick.jpg"}
  %figcaption
    That’s Henry Chadwick.
    %a{:href => "http://haulsofshame.com/blog/wp-content/uploads/2010/11/hos-site-port-001.jpg"} Photo Credit

%section#featured-articles
  %h2 Featured Articles
  %ul.featured-article-list
    %li
      %a{href: '/articles/my-interview-on-the-mlb-network'}
        My Interview on the MLB Network
        %span
          I was recently interviewed by Brian Kenny for his show *MLB Now* on the MLB Network. We talked about the Hall of Stats and the Hall of Fame’s anti-recency bias.
    %li
      %a{href: '/articles/hall-of-fame-case-for-jack-glasscock'}
        The Hall of Fame Case for Jack Glasscock
        %span
          Now that Deacon White is in the Hall, Glasscock is the Hall of Stats’ cause célèbre.
    %li
      %a{href: '/consensus/'}
        The Hall of Consensus
        %span
          This visual compares the Hall of Fame, Hall of Merit, and Hall of Stats to the Personal Halls of Fame of several bloggers (myself included).
    %li
      %a{href: 'http://www.hardballtimes.com/a-hall-of-stats-shows-a-haul-of-omissions/'}
        The Standards of Today Would Create a Very Different Hall of Fame
        %span
          %strong For <em>The Hardball Times</em> —
          This article explores how the Hall of Fame standards are higher for modern players. It was nominated for a SABR Research Award.

%section#most-mentioned
  %h3
    Most Often Mentioned
    %small in Articles

  %ol
    - Player.most_mentioned.each do |player|
      %li
        %figure.portrait
          %img{:alt => "#{player.name} Photo", :height => "135", :src => "/assets/thumbs/#{player.id}.jpg", :width => "90"}/
        = link_to player.name, player
        %span= pluralize(player.articles.count, "Article")

= render 'shared/article_list'
