- content_for :title, "Articles"

= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 Articles
  %span Original research and analysis by Adam Darowski

%figure.banner
  %img{:src => "/assets/photos/chadwick.jpg"}
  %figcaption
    That’s Henry Chadwick.
    %a{:href => "http://haulsofshame.com/blog/wp-content/uploads/2010/11/hos-site-port-001.jpg"} Photo Credit

%section#featured-articles
  %h2 Featured Articles
  %ul.featured-article-list
    %li
      %a{href: '/articles/nobodys-in'}
        Nobody’s In: This is Why I Made the Hall of Stats
        %span
          This manifesto of sorts was published the day the 2013 Hall of Fame election results were announced.
    %li
      %a{href: '/articles/the-deacon-is-in'}
        At Long Last, the Deacon Is In
        %span
          Deacon White became the first player elected after the Hall of Stats was launched.
    %li
      %a{href: '/articles/in-hall-of-stats-not-hall-of-fame'}
        Who’s in the Hall of Stats (but not the Hall of Fame)?
        %span
          A look at the best players in the Hall of Stats but not the Hall of Fame. This group is what gives the Hall of Stats its independent personality.
    %li
      %a{href: '/articles/hall-of-fame-case-for-jack-glasscock'}
        The Hall of Fame Case for Jack Glasscock
        %span
          Now that Deacon White is in the Hall, Glasscock is our cause célèbre.
    %li
      %a{href: '/articles/personal-hall-6-here-it-is'}
        Personal Hall of Fame, Part 7: Here It Is
        %span
          The most recent article in a series where I name my Personal Hall of Fame (which does not exactly mirror the Hall of Stats, but it relatively close).

%section#most-mentioned
  %h3
    Most Often Mentioned
    %small in Articles

  %ol
    - Player.most_mentioned.each do |player|
      %li
        %figure.portrait
          %img{:alt => "#{player.name} Photo", :height => "135", :src => "/assets/thumbs/#{player.id}.jpg", :width => "90"}/
        = link_to player.name, player
        %span= pluralize(player.articles.count, "Article")

%section#list-of-articles.complete-list
  %h2
    All Articles
    = link_to "RSS", "/articles.rss", class: "rss"
  %ul.article-list
    - @articles.each do |article|
      %li{id: "article-#{article.id}"}
        = link_to article_path(article) do
          = article.title
          %span
            •
            = article.published_at.stamp("Jan 1, 2012")

= paginate @articles
