= render 'shared/header'

%article{class: 'long-form', id: "article-#{@article.id}"}

  %header
    %h2= @article.title
    %span= @article.published_at.stamp("Jan 1, 2012")

  = raw @article.formatted_body

= render 'shared/search'
