= render 'shared/header'

%article{class: 'long-form', id: "article-#{@article.id}"}

  %header
    %h2= @article.title
    %span
      = @article.published_at.stamp("Jan 1, 2012")
      by Adam Darowski

  = raw @article.formatted_body

  %hr
  %a.twitter-share-button{"data-via" => "HallOfStats", :href => "https://twitter.com/share"} Tweet
  %script
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
= render 'shared/search'
