%section#article-list{class: controller.controller_name == "articles" && controller.action_name == "index" ? 'paginated-articles' : ''}
  %h2
    Latest Articles
    = link_to "RSS", "/articles.rss", class: "rss"
  %ul.article-list
    - @articles.each do |article|
      %li
        = link_to article_path(article) do
          = article.title
          %span
            •
            = article.published_at.stamp("Jan 1, 2012")

    - unless controller.controller_name == "articles" and controller.action_name == "index"
      %li
        = link_to "See All Articles", "/articles"

- if controller.controller_name == "articles" and controller.action_name == "index"
  = paginate @articles
