%header.global-header{role: 'banner'}
  %h1>
    %a{href: "/"} Hall of Stats
  %nav
    %ul
      %li.about= link_to "About", "/about"
      %li= link_to "Articles", "/articles"
      %li= link_to "Franchises", "/franchise"
      %li= link_to "Positions", "/position"
      %li= link_to "Upcoming Elections", "/upcoming"
