%header.global-header{role: 'banner'}
  %h1>
    %a{href: "/"} Hall of Stats
  = link_to "☰", "#", id: 'show-nav-link'
  %nav
    %ul
      %li= link_to "About", "/about"
      %li= link_to "Articles", "/articles"
      %li= link_to "Consensus", "/consensus"
      %li= link_to "Franchises", "/franchise"
      %li= link_to "Positions", "/position"
      %li#search-link-container= link_to "Search", "#search", id: 'search-link'

