%header.global{role: 'banner'}
  %h1>
    %a{href: "/"} Hall of Stats
  %nav
    %ul
      %li= link_to "About", "/about"
      %li= link_to "Articles", "/articles"
      %li= link_to "Franchises", "/franchise"
      %li= link_to "Positions", "/position"
      %li= link_to "Search", "#search", id: 'search-link'
