- content_for :title, @position_name + " Rankings"

- content_for(:header_styles) do
  %style{:type => 'text/css'}
    - @players.each do |player|
      = render partial: 'shared/bar_width_style', locals: { player: player }

= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 #{@position_name} Rankings

- if Position.find_by_id(@position)
  %figure.banner
    %img{:src => "/assets/photos/#{Position.find(@position).img}.jpg"}/
    %figcaption
      That’s
      = succeed "." do
        = link_to Position.find(@position).player, "/player/#{Position.find(@position).img}", class: "player-link"
      %a{:href => Position.find(@position).img_credit} Photo Credit

%nav.jump-menu
  %strong Jump to:
  %ol
    - ['p', 'c', '1b', '2b', '3b', 'ss', 'lf', 'cf', 'rf', 'dh'].each do |position|
      %li=link_to position.upcase, position_path(position)

%section#players-with-rating
  %h2
    %a#show-filters{href: '#'}
      #{@players.count} Greatest #{@position_name.pluralize}
  #filters{style: 'display: none;'}
    %ul
      %li
        %a#show-all{href: '#position'}
          %span #{@players.count}
          Greatest #{@position_name.pluralize}
      %li
        %a#show-hos{href: '#all'}
          %span #{Player.in_hos.of_position(@position).count}
          Hall of Stats Inductees
      %li
        %a#show-hof{href: '#hof'}
          %span #{Player.in_hof.of_position(@position).count}
          Hall of Fame Inductees
      %li
        %a#show-hom{href: '#hom'}
          %span #{Player.in_hom.of_position(@position).count}
          Hall of Merit Inductees
      - non_position_filters.each do |key, text|
        %li
          - dash_key = key.to_s.gsub(/_/, '-')
          %a{id: "show-#{dash_key}", href: "##{dash_key}"}
            %span= Player.of_position(@position).send(key).count
            = text

  %ol#player-list
    - @players.each do |player|
      %li{id: safe_id(player.id), class: filter_data(player) + ['position']}
        = link_to player_path(player) do
          %strong
            #{player.name}
          %em
            - unless player.position == "npos"
              #{player.position},
            #{player.years_played}
          %span
            - if player.hall_rating > 99.49 && player.hall_rating < 100 && player.hos == false
              = player.hall_rating.round(1)
            - else
              = player.hall_rating.round

%section#top-five-lists
  = top_five_list(@players, "Greatest #{@position_name.pluralize}", 'best-ever')

  = top_five_list(@best_not_inducted, "Not in the Hall of Fame", 'best-not-hof')

  = top_five_list(@best_not_included, "Not in the Hall of Stats", 'best-not-hos')

  = top_five_list(@best_not_merit, "Not in the Hall of Merit", 'best-not-hom')

  = top_five_list(@best_active, "Active #{@position_name.pluralize}", 'best-active')

  = top_five_list(@best_upcoming, "Retired but Not Yet Eligible", 'best-retired')
