= render 'shared/header'

= render 'shared/search'

%section#intro

%section#inductees
  %h2
    %a#show-filters{href: '#'}
      100 Greatest #{@position_name.pluralize} Ever
  #filters{style: 'display: none;'}
    %ul
      %li
        %a#show-all{href: '#position'}
          %span 100
          Greatest #{@position_name.pluralize} Ever
      %li
        %a#show-all{href: '#all'}
          %span #{Player.in_hos.of_position(@position).count}
          Inductees
      - non_position_filters.each do |key, text|
        %li
          - dash_key = key.to_s.gsub(/_/, '-')
          %a{id: "show-#{dash_key}", href: "##{dash_key}"}
            %span= Player.of_position(@position).send(key).count
            = text
  %ol#hos-list.player-list
    - @players.each do |player|
      %li{id: safe_id(player.id), class: filter_data(player) + ['position']}
        = link_to player_path(player) do
          %strong
            #{player.name}
          %em #{player.years_played}
          %span
            - if player.hall_rating > 99.4 && player.hos == false && player.eligibility == "eligible"
              = player.hall_rating
            - else
              = player.hall_rating.round

%section#list-of-articles
  %h2 Best Ever
  %ul.best-ever
    - @players.limit(5).each do |player|
      %li[player]
        = player.name

  %h2 Best not in the Hall of Stats
  %ul.best-not-hos
    - @best_not_inducted.each do |player|
      %li[player]
        = player.name

  %h2 Best Active #{@position_name.pluralize}
  %ul.best-active
    - @best_active.each do |player|
      %li[player]
        = player.name
