= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 #{@position_name} Rankings

- if Position.find_by_id(@position)
  %figure.banner
    %img{:src => "/assets/photos/#{Position.find(@position).img}"}/
    %figcaption
      %a{:href => Position.find(@position).img_credit} Photo Credit

%nav.jump-menu
  %strong Jump to:
  %ol
    %li= link_to "P", "/position/p"
    %li= link_to "C", "/position/c"
    %li= link_to "1B", "/position/1b"
    %li= link_to "2B", "/position/2b"
    %li= link_to "3B", "/position/3b"
    %li= link_to "SS", "/position/ss"
    %li= link_to "LF", "/position/lf"
    %li= link_to "CF", "/position/cf"
    %li= link_to "RF", "/position/rf"
    %li= link_to "DH", "/position/dh"

%section#inductees
  %h2
    %a#show-filters{href: '#'}
      #{@players.count} Greatest #{@position_name.pluralize}
  #filters{style: 'display: none;'}
    %ul
      %li
        %a#show-all{href: '#position'}
          %span #{@players.count}
          Greatest #{@position_name.pluralize}
      %li
        %a#show-all{href: '#all'}
          %span #{Player.in_hos.of_position(@position).count}
          Hall of Stats Inductees
      %li
        %a#show-all{href: '#hof'}
          %span #{Player.in_hof.of_position(@position).count}
          Hall of Fame Inductees
      - non_position_filters.each do |key, text|
        %li
          - dash_key = key.to_s.gsub(/_/, '-')
          %a{id: "show-#{dash_key}", href: "##{dash_key}"}
            %span= Player.of_position(@position).send(key).count
            = text
  %ol.player-list
    - @players.each do |player|
      %li{id: safe_id(player.id), class: filter_data(player) + ['position']}
        = link_to player_path(player) do
          %strong
            #{player.name}
          %em #{player.years_played}
          %span
            - if player.hall_rating > 99.4 && player.hos == false && player.eligibility == "eligible"
              = player.hall_rating
            - else
              = player.hall_rating.round

%section#position-lists
  %h3 Best #{@position_name.pluralize} Ever
  - @players.limit(1).each do |player|
    - if player.img_url.present?
      %figure.portrait
        = image_tag "thumbs/#{player.id}.jpg", alt: "#{player.name} Photo", width: '90', height: '135'
  %ol.best-ever
    - @players.limit(5).each do |player|
      %li[player]
        = link_to player.name, player_path(player)

  %h3 Best Not in the Hall of Stats
  - @best_not_included.limit(1).each do |player|
    - if player.img_url.present?
      %figure.portrait
        = image_tag "thumbs/#{player.id}.jpg", alt: "#{player.name} Photo", width: '90', height: '135'
  %ol.best-not-hos
    - @best_not_included.each do |player|
      %li[player]
        = link_to player.name, player_path(player)

  %h3 Best Not in the Hall of Fame
  - @best_not_inducted.limit(1).each do |player|
    - if player.img_url.present?
      %figure.portrait
        = image_tag "thumbs/#{player.id}.jpg", alt: "#{player.name} Photo", width: '90', height: '135'
  %ol.best-not-hof
    - @best_not_inducted.each do |player|
      %li[player]
        = link_to player.name, player_path(player)

  %h3 Best Active #{@position_name.pluralize}
  - @best_active.limit(1).each do |player|
    - if player.img_url.present?
      %figure.portrait
        = image_tag "thumbs/#{player.id}.jpg", alt: "#{player.name} Photo", width: '90', height: '135'
  %ol.best-active
    - @best_active.each do |player|
      %li[player]
        = link_to player.name, player_path(player)

  %h3 Best Retired but Not Yet Eligible
  - @best_upcoming.limit(1).each do |player|
    - if player.img_url.present?
      %figure.portrait
        = image_tag "thumbs/#{player.id}.jpg", alt: "#{player.name} Photo", width: '90', height: '135'
  %ol.best-active
    - @best_upcoming.each do |player|
      %li[player]
        = link_to player.name, player_path(player)
