= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 #{@position_name} Rankings

- if Position.find_by_id(@position)
  %figure.banner
    %img{:src => "/assets/photos/#{Position.find(@position).img}"}/
    %figcaption
      %a{:href => Position.find(@position).img_credit} Photo Credit

%section#inductees
  %h2
    %a#show-filters{href: '#'}
      #{@players.count} Greatest #{@position_name.pluralize}
  #filters{style: 'display: none;'}
    %ul
      %li
        %a#show-all{href: '#position'}
          %span #{@players.count}
          Greatest #{@position_name.pluralize} Ever
      %li
        %a#show-all{href: '#all'}
          %span #{Player.in_hos.of_position(@position).count}
          Hall of Stats Inductees
      %li
        %a#show-all{href: '#hof'}
          %span #{Player.in_hof.of_position(@position).count}
          Hall of Fame Inductees
      - non_position_filters.each do |key, text|
        %li
          - dash_key = key.to_s.gsub(/_/, '-')
          %a{id: "show-#{dash_key}", href: "##{dash_key}"}
            %span= Player.of_position(@position).send(key).count
            = text
  %ol#hos-list.player-list
    - @players.each do |player|
      %li{id: safe_id(player.id), class: filter_data(player) + ['position']}
        = link_to player_path(player) do
          %strong
            #{player.name}
          %em #{player.years_played}
          %span
            - if player.hall_rating > 99.4 && player.hos == false && player.eligibility == "eligible"
              = player.hall_rating
            - else
              = player.hall_rating.round

%section#position-lists
  %h3 Best #{@position_name.pluralize} Ever
  %ol.best-ever
    - @players.limit(5).each do |player|
      %li[player]
        = player.name

  %h3 Best Not in the Hall of Stats
  %ol.best-not-hos
    - @best_not_included.each do |player|
      %li[player]
        = player.name

  %h3 Best Not in the Hall of Fame
  %ol.best-not-hof
    - @best_not_inducted.each do |player|
      %li[player]
        = player.name

  %h3 Best Active #{@position_name.pluralize}
  %ol.best-active
    - @best_active.each do |player|
      %li[player]
        = player.name

  %h3 Best Retired but Not Yet Eligible
  %ol.best-active
    - @best_upcoming.each do |player|
      %li[player]
        = player.name
