%header{class: @cover_model.id}
  #branding
    %h1 The Hall of Stats
    %p An alternate Hall of Fame populated by a mathematical formula.
  %figure.banner
    = image_tag "photos/#{@cover_model.id}.jpg", alt: "#{@cover_model.name} Photo", width: '480'
    %figcaption#photo-hint
      That’s
      = succeed "." do
        = link_to @cover_model.name, player_path(@cover_model)
      %small= link_to "Photo Credit", @cover_model.img_url
