%style{:type => 'text/css'}
  :sass

    $bad_color: #900

    $max_width: 300

    =border_radius($radius)
      -moz-border-radius: $radius
      -webkit-border-radius: $radius
      border-radius: $radius

    =year_bar($war, $waa)
      td
        &:first-child
          &:before
            @if $war > 0
              $width: ($war / 20.0) * $max_width * 1%
              width: $width
            @else
              $width: (abs($war) / 20.0) * $max_width * 1%
              width: $width
              left: 100% - $width
              +border_radius(4px 0 0 4px)
              background-color: fade_out($bad_color, .85)
          &:after
            @if $waa > 0
              $width: ($waa / 20.0) * $max_width * 1%
              width: $width
            @else
              $width: (abs($waa) / 20.0) * $max_width * 1%
              width: $width
              left: 100% - $width
              +border_radius(4px 0 0 4px)
              background-color: fade_out($bad_color, .85)

    table#seasonal-stats
      .yr-1968
        +year_bar(0.0, 0.0)
      .yr-1969
        +year_bar(-0.2, -0.1)
      .yr-1970
        +year_bar(-0.7, 0.2)
      .yr-1971
        +year_bar(1.4, 3.0)
      .yr-1972
        +year_bar(2.5, 4.3)
      .yr-1973
        +year_bar(3.3, 5.3)
      .yr-1974
        +year_bar(1.6, 3.4)
      .yr-1975
        +year_bar(2.8, 4.7)
      .yr-1976
        +year_bar(1.5, 3.3)
      .yr-1977
        +year_bar(3.3, 5.0)
      .yr-1978
        +year_bar(3.6, 5.3)
      .yr-1979
        +year_bar(1.9, 3.4)
      .yr-1980
        +year_bar(3.2, 4.9)
      .yr-1981
        +year_bar(-1.1, 0.1)
      .yr-1982
        +year_bar(1.5, 3.1)
      .yr-1983
        +year_bar(1.9, 3.7)
      .yr-1984
        +year_bar(-4.3, -2.8)
      .yr-1985
        +year_bar(-0.9, 0.8)
      .yr-1986
        +year_bar(-0.8, -0.4)
      .yr-1987
        +year_bar(-0.6, 0.0)
      .yr-1988
        +year_bar(-0.9, -0.5)

    table#run-value
      margin-top: (#{player.runs_x.max.round}/2) + 20px
      margin-bottom: (#{player.runs_x.min.abs.round}/2) + 20px
      th
        &.bat:before
          @if #{player.runs_bat} < 0
            background-color: fade_out($bad_color, 0.2)
            height: (#{player.runs_bat.abs.round}/2) + px
            top: 100%
            bottom: auto
            +border_radius(0 0 4px 4px)
          @else
            height: (#{player.runs_bat.round}/2) + px
        &.run:before
          @if #{player.runs_br} < 0
            background-color: fade_out($bad_color, 0.2)
            height: (#{player.runs_br.abs.round}/2) + px
            top: 100%
            bottom: auto
            +border_radius(0 0 4px 4px)
          @else
            height: (#{player.runs_br.round}/2) + px
        &.dp:before
          @if #{player.runs_dp} < 0
            background-color: fade_out($bad_color, 0.2)
            height: (#{player.runs_dp.abs.round}/2) + px
            top: 100%
            bottom: auto
            +border_radius(0 0 4px 4px)
          @else
            height: (#{player.runs_dp.round}/2) + px
        &.fld:before
          @if #{player.runs_defense} < 0
            background-color: fade_out($bad_color, 0.2)
            height: (#{player.runs_defense.abs.round}/2) + px
            top: 100%
            bottom: auto
            +border_radius(0 0 4px 4px)
          @else
            height: (#{player.runs_defense.round}/2) + px
        &.pos:before
          @if #{player.runs_totalpos} < 0
            background-color: fade_out($bad_color, 0.2)
            height: (#{player.runs_totalpos.abs.round}/2) + px
            top: 100%
            bottom: auto
            +border_radius(0 0 4px 4px)
          @else
            height: (#{player.runs_totalpos.round}/2) + px

  - if player.runs_pitch
    :sass
      $bad_color: #900
      table#run-value
        th
          width: 16.7%
          &:before
            width: 15.7%
          &.run:before
            left: 17.2%
          &.dp:before
            left: 33.8%
          &.fld:before
            left: 50.5%
          &.pos:before
            left: 67.2%
          &.pit:before
            left: 83.8%
          &.pit:before
            @if #{player.runs_pitch} < 0
              background-color: fade_out($bad_color, 0.2)
              height: (#{player.runs_pitch.abs.round}/2) + px
              top: 100%
              bottom: auto
            @else
              @if #{player.runs_pitch} > 0
                height: (#{player.runs_pitch.round}/2) + px

  - if player.peak_pct
    :sass
      .peak
        width: #{player.peak_pct}%
      .longevity
        width: #{player.longevity_pct}%
