%li{id: safe_id(player.id), class: filter_data(player) + ['franchise']}
  = link_to player_path(player) do
    %strong
      #{player.name}
    %em
      - unless player.position == "npos"
        #{player.position},
      #{player.years_played}
    %span= player.franchise_hall_rating.to_f.round
