%header
  #branding
    %h1 The Hall of Stats
    %p An alternate Hall of Fame populated by a mathematical formula.
  = image_tag 'photos/mathech01.jpg', alt: 'Christy Mathewson Photo', width: '480'
  %span#photo-hint
    That’s
    = succeed "." do
      = link_to "Christy Mathewson", player_path('mathech01')

= render 'shared/search'

%section#intro
  %p They say, “It’s the Hall of Fame, not the Hall of Stats.”
  %p But what if it was?
  %p
    The Hall of Stats removes everyone from the Hall of Fame and re-populates it based on a mathematical formula called
    = succeed "." do
      %a{:href => "about/"} Hall Rating
  %p You decide which Hall is better…

%section#inductees
  %h2
    %a#show-filters{href: '#'}
      = Player.in_hos.count
      Inductees
  #filters{style: 'display: none;'}
    %ul
      %li
        %a#show-all{href: '#show-all'}
          %span #{Player.in_hos.count}
          Inductees
      %li
        %a#show-added{:href => "#show-added"}
          %span 69
          Added to the Hall
      %li
        %a#show-removed{:href => "#show-removed"}
          %span 69
          Removed from the Hall
      %li
        %a#show-upcoming{:href => "#show-upcoming"}
          %span 32
          Hall-Worthy but Not Yet Eligible
      %li
        %a#show-p{:href => "#show-p"}
          %span 74
          Pitchers
      %li
        %a#show-c{:href => "#show-c"}
          %span 14
          Catchers
      %li
        %a#show-1b{:href => "#show-1b"}
          %span 21
          First Basemen
      %li
        %a#show-2b{:href => "#show-2b"}
          %span 14
          Second Basemen
      %li
        %a#show-3b{:href => "#show-3b"}
          %span 13
          Third Basemen
      %li
        %a#show-ss{:href => "#show-ss"}
          %span 17
          Shortstops
      %li
        %a#show-lf{:href => "#show-lf"}
          %span 20
          Left Fielders
      %li
        %a#show-cf{:href => "#show-cf"}
          %span 13
          Center Fielders
      %li
        %a#show-rf{:href => "#show-rf"}
          %span 20
          Right Fielders
      %li
        %a#show-dh{:href => "#show-dh"}
          %span 2
          Designated Hitters

  %ol#hos-list.player-list
    - @players.each do |player|
      %li{id: safe_id(player.id), class: filter_data(player)}
        = link_to player_path(player) do
          %strong
            #{player.name}
          %em #{player.position}, #{player.years_played}
          %span #{player.hall_rating.round}

%section#list-of-articles
  %h2 Latest Articles
  %ul
    - @articles.each do |article|
      %li
        = link_to article_path(article) do
          = article.title
          %span
            •
            = article.published_at.stamp("Jan 1, 2012")
