- content_for :title, "An alternate Hall of Fame populated by a mathematical formula"

- content_for(:header_styles) do
  - @players.each do |player|
    = render partial: 'shared/bar_width_style', locals: { player: player }

= render :partial => 'header'

= render 'shared/search'

%section#intro
  %p They say, “It’s the Hall of Fame, not the Hall of Stats.”
  %p But what if it was?
  %p
    The Hall of Stats removes everyone from the Hall of Fame and re-populates it based on a
    = succeed "." do
      %a{:href => "/about"} mathematical formula
  %p You decide which Hall is better…

%section#inductees
  %h2
    %a#show-filters{href: '#'}
      = Player.in_hos.count
      Hall of Stats Inductees
  #filters{style: 'display: none;'}
    %ul
      %li
        %a#show-all{href: '#all'}
          %span #{Player.in_hos.count}
          Hall of Stats Inductees
      %li
        %a#show-all{href: '#hof'}
          %span #{Player.in_hof.count}
          Hall of Fame Inductees
      - ['p', 'c', '1b', '2b', '3b', 'ss', 'lf', 'cf', 'rf', 'dh'].each do |position|
        %li
          %a{id: "show-#{position}", href: "##{position}"}
            %span= Player.in_hos.of_position(position).count
            = PlayerDecorator::POSITIONS[position].pluralize
      - non_position_filters.each do |key, text|
        %li
          - dash_key = key.to_s.gsub(/_/, '-')
          %a{id: "show-#{dash_key}", href: "##{dash_key}"}
            %span= Player.send(key).count
            = text

  %ol.player-list
    - @players.each do |player|
      %li{id: safe_id(player.id), class: filter_data(player)}
        = link_to player_path(player) do
          %strong
            #{player.name}
          %em #{player.position}, #{player.years_played}
          %span
            - if player.hall_rating > 99.49 && player.hos == false && player.eligibility == "eligible"
              = player.hall_rating.round(1)
            - else
              = player.hall_rating.round

= render 'shared/article_list'

%section#position-rankings
  %h3 Positional Rankings
  = render 'shared/position_grid'

%section#franchise-rankings
  %h3 Franchise Rankings
  %ul.franchise-list
    - Franchise.current.each do |franchise|
      %li
        = link_to franchise_path(franchise.id) do
          = franchise.name
          %span (#{franchise.years_existed})
