- content_for :keywords do
  %meta{name: "keywords", content: "Hall of Stats,Baseball,Sabermetrics"}

- content_for :title, "An alternate Hall of Fame populated by a mathematical formula"

- content_for(:header_styles) do
  - cache 'bar-width-styles' do
    %style{:type => 'text/css'}
      = render partial: 'shared/bar_width_style', collection: @players, as: :player

= render 'shared/header'

= render 'shared/search'

%figure.banner{class: @cover_model.id}
  = image_tag "photos/#{@cover_model.id}.jpg", alt: "#{@cover_model.name} Photo", width: '480'
  %figcaption
    That’s
    = succeed "." do
      = link_to @cover_model.name, player_path(@cover_model), class: "player-link"
    = link_to "Photo Credit", @cover_model.img_url

%section#intro
  %p They say, “It’s the Hall of Fame, not the Hall of Stats.”
  %p But what if it were?
  %p
    The Hall of Stats shows us what the Hall of Fame would look like if we removed all #{Player.in_hos.count} inductees and replaced them with the top #{Player.in_hos.count} eligible players in history, according to a mathematical formula.
    %a{:href => "/about"} (more)

- cache 'ratings' do
  %section#players-with-rating
    %h2
      %a#show-filters{href: '#'}
        = Player.in_hos.count
        Hall of Stats Inductees
    #filters{style: 'display: none;'}
      %ul
        %li
          %a#show-hos{href: '#all'}
            %span #{Player.in_hos.count}
            Hall of Stats Inductees
        %li
          %a#show-hof{href: '#hof'}
            %span #{Player.in_hof.count}
            Hall of Fame Inductees
        %li
          %a#show-hom{href: '#hom'}
            %span #{Player.in_hom.count}
            Hall of Merit Inductees
        - non_position_filters.each do |key, text|
          %li
            - dash_key = key.to_s.gsub(/_/, '-')
            %a{id: "show-#{dash_key}", href: "##{dash_key}"}
              %span= Player.send(key).count
              = text
        - ['p', 'c', '1b', '2b', '3b', 'ss', 'lf', 'cf', 'rf', 'dh'].each do |position|
          %li
            %a{id: "show-#{position}", href: "##{position}"}
              %span= Player.in_hos.of_position(position).count
              = PlayerDecorator::POSITIONS[position].pluralize

    %ol#player-list
      - @players.each do |player|
        %li{id: safe_id(player.id), class: filter_data(player)}
          = link_to player_path(player) do
            %strong
              #{player.name}
            %em
              - unless player.position == "npos"
                #{player.position},
              #{player.years_played}
            %span
              - if player.hall_rating > 99.49 && player.hall_rating < 100 && player.hos == false
                = player.hall_rating.round(1)
              - else
                = player.hall_rating.round

= render 'shared/article_list'

%section#position-rankings
  %h3 Positional Rankings
  = render 'shared/position_grid'

%section#franchise-rankings
  %h3 Franchise Rankings
  %ul.franchise-list
    - Franchise.active.each do |franchise|
      %li
        = link_to franchise_path(franchise.id) do
          %abbr.franchise-abbr{ class: franchise.id + "-bg", title: franchise.name }= franchise.id.upcase
    %li= link_to "All Franchises", "/franchise"
