= render :partial => 'header'

= render 'shared/search'

%section#intro
  %p They say, “It’s the Hall of Fame, not the Hall of Stats.”
  %p But what if it was?
  %p
    The Hall of Stats removes everyone from the Hall of Fame and re-populates it based on a
    = succeed "." do
      %a{:href => "about/"} mathematical formula
  %p You decide which Hall is better…

%section#inductees
  %h2
    %a#show-filters{href: '#'}
      = Player.in_hos.count
      Inductees
  #filters{style: 'display: none;'}
    %ul
      %li
        %a#show-all{href: '#show-all'}
          %span #{Player.in_hos.count}
          Inductees
      - ['p', 'c', '1b', '2b', '3b', 'ss', 'lf', 'cf', 'rf', 'dh'].each do |position|
        %li
          %a{id: "show-#{position}", href: "#show-#{position}"}
            %span= Player.in_hos.of_position(position).count
            = PlayerDecorator::POSITIONS[position].pluralize
      - non_position_filters.each do |key, text|
        %li
          - dash_key = key.to_s.gsub(/_/, '-')
          %a{id: "show-#{dash_key}", href: "#show-#{dash_key}"}
            %span= Player.send(key).count
            = text
      %li
        %a#show-active-but-worthy{:href => '#show-active-but-worthy'}
          %span= Player.active_but_worthy.count
          Active but Hall-Worthy
      %li
        %a#show-active-and-close{:href => '#show-active-and-close'}
          %span= Player.active_and_close.count
          Active and Close
      %li
        %a#show-close-call{:href => '#show-close-call'}
          %span= Player.close_call.count
          Close Calls

  %ol#hos-list.player-list
    - @players.each do |player|
      %li{id: safe_id(player.id), class: filter_data(player)}
        = link_to player_path(player) do
          %strong
            #{player.name}
          %em #{player.position}, #{player.years_played}
          %span #{player.hall_rating.round}

%section#list-of-articles
  %h2 Latest Articles
  %ul
    - @articles.each do |article|
      %li
        = link_to article_path(article) do
          = article.title
          %span
            •
            = article.published_at.stamp("Jan 1, 2012")
