%header
  #branding
    %h1 The Hall of Stats
    %p An alternate Hall of Fame populated by a mathematical formula.
  = image_tag 'photos/mathech01.jpg'
  %span#photo-hint
    That’s
    = succeed "." do
      = link_to "Christy Mathewson", player_path('mathech01')

%section#search
  %input.autocomplete{:placeholder => "Search for any MLB player…", :results => "5", :type => "search"}/

%section#intro
  %p They say, “It’s the Hall of Fame, not the Hall of Stats.”
  %p But what if it was?
  %p
    The Hall of Stats removes everyone from the Hall of Fame and re-populates it based on a mathematical formula called
    = succeed "." do
      %a{:href => "about/"} Hall Rating
  %p You decide which Hall is better…

%section#inductees
  %h2
    = @players_in_hos.count
    Inductees
  %ol#player-list
    - @players_in_hos.each do |player|
      %li{id: safe_id(player.id), class: player.position}
        = link_to player_path(player) do
          %strong
            #{player.name}
          %em #{player.position}, #{player.first_year}–#{player.last_year}
          %span #{player.hall_rating.round}

%section#list-of-articles
  %h2 Latest Articles
  %ul
    - @articles.each do |article|
      %li
        = link_to article_path(article) do
          = article.title
          %span
            •
            = article.published_at.stamp("Jan 1, 2012")
