%header
  #branding
    %h1 The Hall of Stats
    %p An alternate Hall of Fame populated by a mathematical formula.
  = image_tag 'photos/dahlen.jpg'
  %span#photo-hint
    That’s
    = succeed "." do
      = link_to player_path('dahlebi01') do
        Bill Dahlen

%section#search
  %input{:placeholder => "Search for any MLB player…", :results => "5", :type => "search"}/

%section#intro
  %p They say, “It’s the Hall of Fame, not the Hall of Stats.”
  %p But what if it was?
  %p
    The Hall of Stats removes everyone from the Hall of Fame and re-populates it based on
    = succeed "." do
      %a{:href => "#"} a mathematical formula
  %p You decide which Hall is better…

%section#inductees
  %h2 208 Inductees
  %a#about-hall-rating{:href => "#"} Hall Rating
  %ol#player-list
    - @players_in_hos.each do |player|
      %li{id: safe_id(player.id), class: player.position}
        = link_to player_path(player) do
          %strong
            #{player.name}
          %em #{player.position}, #{player.first_year}–#{player.last_year}
          %span #{player.hall_rating.round}

%section#list-of-articles
  %h2 Articles
  %ul
    %li
      %a{:href => "#"}
        Biographies published for Babe Ruth and Thurman Munson
        %span 9/1/2012
    %li
      %a{:href => "#"}
        The Koufaxian Wes Ferrell
        %span 9/1/2012
    %li
      %a{:href => "#"}
        Adjusting for Catchers
        %span 9/1/2012
    %li
      %a{:href => "#"}
        How this Hall was Built
        %span 9/1/2012
    %li
      %a{:href => "#"}
        Welcome to the Hall of Stats
        %span 9/1/2012
    %li
      %a{:href => "#"} Show More…

%section#list-of-bios
  %h2 Players with Biographies
  %ul
    - @players_with_bios.each do |player|
      %li
        = link_to player.name, player_path(player)
