- content_for(:header_styles) do
  = render 'player_specific_styles', player: @player

= render 'shared/header'

%section#player-id
  %h2
    = @player.first_name
    %span= @player.last_name
  %dl
    - unless @player.position == "npos"
      %dt.postion Position
      %dd.position= @player.position_name
    - if @player.years_played
      %dt.years Years
      %dd.years #{@player.years_played}
    %dt.hall-rating<> Hall Rating
    %dd.hall-rating= @player.hall_rating.round

  - if @player.has_photo?
    = image_tag "thumbs/#{@player.id}.jpg", alt: "#{@player.name} Photo", width: '90', height: '135'

- if @player.peak_pct
  %section#value-breakdown
    %dl
      %dt.peak<> Peak
      %dd.peak
        #{@player.peak_pct}%
      %dt.longevity<> Longevity
      %dd.longevity
        #{@player.longevity_pct}%

- if @player.bio?
  %section#bio
    = raw BioFormatter.new(@player.bio, @player.id)

%section#stats-summary

  %table#win-value
    %caption Win-Value Statistics
    %thead
      %tr
        %th
          %abbr{title: "Wins Above Replacement"} WAR
        %th
          %abbr{title: "Wins Above Average"} WAA
        %th
          %abbr{title: "Adjusted Wins Above Replacement"}
            %em> adj
            WAR
        %th
          %abbr{title: "Adjusted Wins Above Average"}
            %em> adj
            WAA
    %tfoot
      %tr
        %td{colspan: 4}
          %a#show-more-stats{href: '#'} About the stats
    %tbody
      %tr
        %td= @player.war_tot
        %td= @player.waa_tot
        %td= @player.war162_tot
        %td= @player.waa0_tot

  #more-stats{style: 'display: none;'}
    %p
      Over the course of his career, #{@player.first_name} #{@player.last_name}
      = succeed '.' do
        - if @player.position == "p"
          pitched <strong>#{number_with_delimiter (@player.ip_outs)/3}</strong> innings
          - if @player.pa > 0
            and made <strong>#{number_with_delimiter @player.pa}</strong> plate appearances
        - else
          made <strong>#{number_with_delimiter @player.pa}</strong> plate appearances
          - if @player.ip_outs > 0
            and pitched <strong>#{number_with_delimiter (@player.ip_outs)/3}</strong> innings
      = succeed "." do
        #{@player.last_name} was worth <strong>#{@player.war_tot}</strong> Wins Above Replacement
        - if @player.ip_outs > 0 && @player.pa > 0
          - if @player.position == "p"
            (#{@player.war_p} as a pitcher and #{@player.war_pos} as a hitter)
          - else
            (#{@player.war_pos} as a hitter and #{@player.war_p} as a pitcher)
        and <strong>#{@player.waa_tot}</strong> Wins Above Average
        - if @player.ip_outs > 0 && @player.pa > 0
          - if @player.position == "p"
            (#{@player.waa_p} as a pitcher and #{@player.waa_pos} as a hitter)
          - else
            (#{@player.waa_pos} as a hitter and #{@player.waa_p} as a pitcher)
    %p
      After adjusting for length of schedule, catchers, and relief pitchers, the #{@player.war_tot} WAR becomes
      <strong>#{@player.war162_tot}</strong> <em>adj</em>WAR. Then, WAA is adjusted by ignoring negative seasons
      (thus, truly capturing a player’s peak seasons) and making similar adjustments for catchers and relief pitchers.
      - if @player.position == "p" || @player.last_year < 1900
        Additionally, in the event that a player’s WAR and WAA are very similar (a phenomenon that you can see with
        pitcher’s hitting value and players from weaker leagues like the Union Association), the WAA is ignored.
      After these adjustments, the #{@player.waa_tot} WAA becomes <strong>#{@player.waa0_tot}</strong> <em>adj</em>WAA.

    %p
      Then, the <em>adj</em>WAR and <em>adj</em>WAA are combined, but with extra weighting given to <em>adj</em>WAA.
      Specifically, the formula is #{@player.war162_tot} + (#{@player.waa0_tot}*1.68). This gives #{@player.last_name}
      <strong>#{@player.wwar}</strong> wWAR.

    %p
      Finally, in order to make the Hall of Stats borderline more intuitive, the wWAR value is normalized so that 100
      represents the borderline. This is called Hall Rating and it works similarly to OPS+ or wRC+ (anyone above 100
      is in the Hall of Stats—anyone below is out). #{@player.first_name} #{@player.last_name} has a Hall Rating of
      <strong>#{@player.hall_rating.round}</strong>,
      - if @player.last_year > 2007
        = succeed "." do
          - if @player.hall_rating > 180
            meaning he will not only be in the Hall of Stats when eligible—he will rate as one of the very best players of all time.
          - elsif @player.hall_rating > 110
            meaning he will be in the Hall of Stats when eligible
          - elsif @player.hall_rating > 100
            meaning he will be in the Hall of Stats when eligible—but very close to the borderline
          - elsif @player.hall_rating > 90
            meaning he will not be in the Hall of Stats when eligible—but he would be close
          - elsif @player.hall_rating > 80
            meaning he will significantly short of the Hall of Stats when eligible
          - elsif @player.hall_rating > 60
            meaning he will not be in the Hall of Stats when eligible
          - else
            leaving him nowhere close to induction to the Hall of Stats when eligible
      - elsif @player.last_year > 2009
        = succeed "." do
          - if @player.hall_rating > 180
            meaning he would not only be in the Hall of Stats if his career ended today—he would rate as one of the very best players of all time.
          - elsif @player.hall_rating > 110
            meaning he would be in the Hall of Stats if his career ended today
          - elsif @player.hall_rating > 100
            meaning he would be in the Hall of Stats if his career ended today—but very close to the borderline
          - elsif @player.hall_rating > 90
            meaning he would not be in the Hall of Stats if his career ended today—but he would be close
          - else
            meaning he would not be in the Hall of Stats if his career ended today
      - else
        = succeed "." do
          - if @player.id == "ruthba01"
            making him not only a member of the Hall of Stats—but the very best player of all time
          - elsif @player.hall_rating > 180
            making him not only a member of the Hall of Stats—but one of the very best players of all time
          - elsif @player.hall_rating > 110
            making him a member of the Hall of Stats
          - elsif @player.hall_rating > 100
            making him a member of the Hall of Stats—but one who sits very close to the borderline
          - elsif @player.hall_rating > 90
            making him close to the Hall of Stats borderline—but still on the outside
          - elsif @player.hall_rating > 60
            leaving him short of induction to the Hall of Stats
          - else
            leaving him nowhere close to induction to the Hall of Stats

    %p
      Want even more detail about the formula? See the
      = succeed '.' do
        = link_to "About page", "/about"

  %table#run-value
    %caption Run-Value Statistics
    %thead
      %tr
        %th.bat
          %abbr{title: "WAR Batting Runs"} Bat
        %th.run
          %abbr{title: "WAR Baserunning Runs"} Run
        %th.dp
          %abbr{title: "WAR Double Play Runs"} DP
        %th.fld
          %abbr{title: "WAR Fielding Runs"} Fld
        %th.pos
          %abbr{title: "WAR Position Runs"} Pos
        - if @player.runs_pitch
          %th.pit
            %abbr{title: "WAR Pitching Runs"} Pit
    %tbody
      %tr
        %td= @player.runs_bat.round
        %td= @player.runs_br.round
        %td= @player.runs_dp.round
        %td= @player.runs_defense.round
        %td= @player.runs_totalpos.round
        - if @player.runs_pitch
          %td= @player.runs_pitch.round

- if @player.hos == true
  %section#similar-players
    %table
      %caption
        = @player.position_name.pluralize
        %small in the Hall of Stats
      %thead
        %tr
          %th Players
          %th Hall Rating
      %tbody
        - @player.players_of_same_position.each do |player|
          %tr{class: ("current" if @player.id == player.id)}
            %th
              %a{href: player_path(player)}= player.name
            %td= player.hall_rating.round

- elsif @player.hos == false && @player.hof == true
  %section#similar-players
    %table
      %caption
        Players Removed
        %small from the Hall of Fame
      %thead
        %tr
          %th Players
          %th Hall Rating
      %tbody
        - @player.players_removed.each do |player|
          %tr{class: ("current" if @player.id == player.id)}
            %th
              %a{href: player_path(player)}= player.name
            %td= player.hall_rating.round

- elsif @player.hos == false && @player.hof == true
  %section#similar-players
    %table
      %caption
        Players Bumped
        %small from the Hall of Fame
      %thead
        %tr
          %th Players
          %th Hall Rating
      %tbody
        - @player.players_removed.each do |player|
          %tr{class: ("current" if @player.id == player.id)}
            %th
              %a{href: player_path(player)}= player.name
            %td= player.hall_rating.round

- elsif @player.hos == false && @player.hof == false && @player.hall_rating > 100
  %section#similar-players
    %table
      %caption
        Future Inductees
        %small to the Hall of Stats (when eligible)
      %thead
        %tr
          %th Players
          %th Hall Rating
      %tbody
        - @player.players_upcoming.each do |player|
          %tr{class: ("current" if @player.id == player.id)}
            %th
              %a{href: player_path(player)}= player.name
            %td= player.hall_rating.round

- if @player.articles.published.any?
  %section#list-of-articles
    %h2 Related Articles
    %ul
      - @player.articles.published.order("published_at desc").each do |article|
        %li
          = link_to article_path(article) do
            = article.title
            %span
              •
              = article.published_at.stamp("Jan 1, 2012")

= render 'shared/search'
