- content_for(:header_styles) do
  = render 'player_specific_styles', player: @player

%header
  %h1
    %a{href: "/"} Hall of Stats
  %a#show-about{href: "#"} About
  #about{style: "display: none;"}
    %p
      Welcome to the Hall of Stats—an alternate Hall of Fame populated by a mathematical formula.
      %a{href: "/about"} Read more…

%section#player-id
  %h2
    = @player.first_name
    %span= @player.last_name
  %dl
    - if @player.position_name
      %dt.postion Position
      %dd.position= @player.position_name
    - if @player.first_year
      %dt.years Years
      %dd.years #{@player.first_year}–#{@player.last_year}
    %dt.hall-rating<> Hall Rating
    %dd.hall-rating= @player.hall_rating.round

  - if @player.photo_path.present?
    = image_tag @player.photo_path, alt: "#{@player.name} Photo"

- if @player.peak_pct
  %section#value-breakdown
    %dl
      %dt.peak<> Peak
      %dd.peak
        #{@player.peak_pct}%
      %dt.longevity<> Longevity
      %dd.longevity
        #{@player.longevity_pct}%

%section#stats-summary
  %table#win-value
    %caption Win-Value Statistics
    %thead
      %tr
        %th
          %abbr{title: "Wins Above Replacement"} WAR
        %th
          %abbr{title: "Wins Above Average"} WAA
        %th
          %abbr{title: "Adjusted Wins Above Replacement"}
            %em> adj
            WAR
        %th
          %abbr{title: "Adjusted Wins Above Average"}
            %em> adj
            WAA
    %tbody
      %tr
        %td= @player.war_tot
        %td= @player.waa_tot
        %td= @player.war162_tot
        %td= @player.waa0_tot

  %table#run-value
    %caption Run-Value Statistics
    %thead
      %tr
        %th.bat
          %abbr{title: "WAR Batting Runs"} Bat
        %th.run
          %abbr{title: "WAR Baserunning Runs"} Run
        %th.dp
          %abbr{title: "WAR Double Play Runs"} DP
        %th.fld
          %abbr{title: "WAR Fielding Runs"} Fld
        %th.pos
          %abbr{title: "WAR Position Runs"} Pos
        - if @player.runs_pitch
          %th.pit
            %abbr{title: "WAR Pitching Runs"} Pit
    %tbody
      %tr
        %td= @player.runs_bat.round
        %td= @player.runs_br.round
        %td= @player.runs_dp.round
        %td= @player.runs_defense.round
        %td= @player.runs_totalpos.round
        - if @player.runs_pitch
          %td= @player.runs_pitch.round

- if @player.bio.present?
  - bio = BioFormatter.new(@player.bio)

  %section#bio
    = raw bio.lead_in

    - if bio.body.present?
      #expanded-bio{style: "display: none;"}
        = raw bio.body


- if @player.hos
  %section#similar-players
    %table
      %caption
        = @player.position_name.pluralize
        %small in the Hall of Stats
      %thead
        %tr
          %th Players
          %th Hall Rating
      %tbody
        - @player.players_of_same_position.each do |player|
          %tr{class: ("current" if @player.id == player.id)}
            %th
              %a{href: player_path(player)}= player.name
            %td= player.hall_rating.round

%section#list-of-articles
  %h2 Related Articles
  %ul
    %li
      %a{href: "#"}
        Biographies published for Babe Ruth and Thurman Munson
        %span 9/1/2012
    %li
      %a{href: "#"}
        Adjusting for Catchers
        %span 9/1/2012

%section#search
  %input{placeholder: "Search for any MLB player…", results: "5", type: "search"}/
