%table.left-align
  %thead
    %tr
      %th Name
      %th Position
      %th Years
      %th Hall Rating
  %tbody
    - pool.each do |ballot_player|
      %tr
        %th
          %a{href: player_path(ballot_player)}= ballot_player.name
        %td= ballot_player.position.upcase
        %td
          #{ballot_player.first_year}–#{ballot_player.last_year}
        %td= ballot_player.hall_rating_rounded
