%table.upcoming-table
  %thead
    %tr
      %th
        Name
        %small (Hall Rating)
      %th Position
      %th Years
      %th
        %abbr{title: "Hall of Stats"} HOS
      %th
        %abbr{title: "Hall of Merit"} HOM
  %tbody
    - pool.each do |ballot_player|
      %tr
        %th
          %a{href: player_path(ballot_player)}= ballot_player.name
          %small (#{ballot_player.hall_rating_rounded})
          - if [].include?(ballot_player.id)
            %em.on-ballot on ballot
        %td= ballot_player.position.upcase
        %td
          #{ballot_player.first_year}–#{ballot_player.last_year}
        %td
          %span{title: "HOS: #{ballot_player.hos}", class: ballot_player.last_year > 2015 ? 'ineligible' : ballot_player.hos}= ballot_player.hos
        %td
          %span{title: "HOM: #{ballot_player.hom}", class: ballot_player.last_year > 2015 ? 'ineligible' : ballot_player.hom}= ballot_player.hom
