- content_for :title, "Upcoming Elections"

= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 Upcoming Elections

%figure.banner
  %img{:src => "/assets/photos/rolensc01.jpg"}
  %figcaption
    That’s Scott Rolen.
    %a{:href => "https://www.flickr.com/photos/keithallison/3571204295/"} Photo Credit

%nav.jump-menu
  %strong Jump to:
  %ol
    %li= link_to "2022", "#year_2022"
    %li= link_to "2023", "#year_2023"
    %li= link_to "2024", "#year_2024"
    %li= link_to "2025", "#year_2025"
    %li= link_to "2026", "#year_2026"

%article#upcoming-body.long-form
  %p
    With <a href="/articles/changes-to-era-committees">the changes to the Hall of Fame’s Era Committees</a> in 2016, it can be difficult to know who is eligible for the Hall of Fame and when. I’ll do my best to clarify things for you. Please note that when a player played in multiple Eras, we’re grouping him in the Era in which he produced the highest Hall Rating.

  %p
    The red and green icons indidate whether or not the player is in the Hall of Stats (HOS) or Hall of Merit (HOM). If an icon is not present, the player is not yet eligible.

  <h3 id="year_2022">2022 <a href="#top">Back to Top</a></h3>

  %p
    The 2022 election cycle features the return of the Golden Days and Early Baseball Era Committee elections. After this cycle, the Golden Days Era Committee won’t meet again for five years and the Early Baseball Era Committee meets again in ten years. For fans of early baseball, this is a crucial election. The BBWAA ballot sees a pair of huge names hit the ballot—Alex Rodriguez and David Ortiz. It will also be the final chance for Barry Bonds, Roger Clemens, Curt Schilling, and Sammy Sosa.

  %h4#bbwaa_2022_returning
    BBWAA Ballot
    %span (Returning Candidates)

  = render 'upcoming_table', pool: @bbwaa_2022_returning

  %h4#bbwaa_2022
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2022

  %h4#golden_days_2022
    Golden Days Era Ballot
    %span (Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @gd_era_2022

  %h4#early_baseball_2022
    Early Baseball Era Ballot
    %span (Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @eb_era_2022

  <h3 id="year_2023">2023 <a href="#top">Back to Top</a></h3>

  %p
    The biggest name on the 2023 is Carlos Beltran. If you thought we were done discussing Bonds and Clemens, they’re back on the Today’s Game Era ballot.

  %h4#bbwaa_2023
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2023

  %h4#todays_game_2023
    Today’s Game Era Ballot
    %span (Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @tg_era_2023

  <h3 id="year_2024">2024 <a href="#top">Back to Top</a></h3>

  %p
    Finally, in Adrian Beltre, Chase Utley, and Joe Mauer we get three scandal-free candidates. The Modern Baseball Era Committee meets again, with the likes of Lou Whitaker, Bobby Grich, Dwight Evans, Thurman Munson, and more incredible candidates getting another shot.

  %h4#bbwaa_2024
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2024

  %h4#modern_baseball_2024
    Modern Baseball Era Ballot
    %span (Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @mb_era_2024

  <h3 id="year_2025">2025 <a href="#top">Back to Top</a></h3>

  %p
    Ichiro will attempt to become the first position player unanimously selected by the BBWAA. The Today’s Game Era Committee meets again with 10-year candidates like Gary Sheffield and Jeff Kent meeting some who maybe deserve a fresh look (like Carlos Delgado and Nomar Garciaparra).

  %h4#bbwaa_2025
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2025

  %h4#todays_game_2025
    Today’s Game Era Ballot
    %span (Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @tg_era_2025

  <h3 id="year_2026">2026 <a href="#top">Back to Top</a></h3>

  %p
    We don’t really know what this BBWAA ballot will look like because not all reitrements have been announced yet. The Modern Baseball Era Committee will meet again with the same group of candidates.

  %h4#bbwaa_2026
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2026
