- content_for :title, "Upcoming Elections"

= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 Upcoming Elections

%figure.banner
  %img{:src => "/assets/photos/grichbo01.jpg"}
  %figcaption
    That’s Bobby Grich.

%nav.jump-menu
  %strong Jump to:
  %ol
    %li= link_to "2024", "#year_2024"
    %li= link_to "2025", "#year_2025"
    %li= link_to "2026", "#year_2026"
    %li= link_to "2027", "#year_2027"

%article#upcoming-body.long-form
  %p
    The Hall of Fame restructured the <a href="https://baseballhall.org/news/hall-of-fame-restructures-era-committee-frick-award-voting">Era Committees</a> again in April 2022, effective immediately. The committees are:
  %ul
    %li
      %strong Contemporary Baseball (Players):
      Players who made their greatest impact on the game since 1980
    %li
      %strong Contemporary Baseball (Managers, Executives, and Umpires):
      Non-players who made their greatest impact on the game since 1980
    %li
      %strong Classic Baseball:
      Players and non-players who made their greatest impact on the game before 1980 (including Negro League candidates)
  %p
    I’ll do my best to clarify things for you. Please note that when a player played in multiple Eras, we’re grouping him in the Era in which he produced the highest Hall Rating. This has mostly served me well, with the exceptions being Lee Smith and Jim Kaat. In other cases like these, I will use the Era the Hall of Fame assigns.

  %ul
    %li
      %strong= link_to "2024:", "#year_2024"
      BBWAA, Contemporary Baseball (Managers, Executives, and Umpires)
    %li
      %strong= link_to "2025:", "#year_2025"
      BBWAA, Classic Baseball
    %li
      %strong= link_to "2026:", "#year_2026"
      BBWAA, Contemporary Baseball
    %li
      %strong= link_to "2027:", "#year_2027"
      BBWAA, Contemporary Baseball (Managers, Executives, and Umpires)
    %li
      %strong= link_to "2028:", "#year_2028"
      BBWAA, Classic Baseball

  %p
    The red and green icons indicate whether or not the player is in the Hall of Stats (HOS) or Hall of Merit (HOM). If an icon is not present, the player is not yet eligible.

  <h3 id="year_2024">2024 <a href="#top">Back to Top</a></h3>

  %p
    Finally, in Adrian Beltre, Chase Utley, and Joe Mauer we get three scandal-free candidates. The Contemporary Baseball Era ballot for Managers, Executives, and Umpires will meet.

  %h4#bbwaa_2024_returning
    BBWAA Ballot
    %span (Returning Candidates)

  = render 'upcoming_table', pool: @bbwaa_2024_returning

  %h4#bbwaa_2024
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2024

  %h4#contemporary_baseball_2024
    Contemporary Baseball Era Ballot
    %span (Managers, Executives, and Umpires)

  %p Candidates could include:

  %ul
    %li Sandy Alderson
    %li Davey Johnson
    %li Lou Piniella
    %li Brian Sabean
    %li Mike Scioscia
    %li George Steinbrenner
    %li Joe West

  <h3 id="year_2025">2025 <a href="#top">Back to Top</a></h3>

  %p
    Ichiro will attempt to become the first position player unanimously selected by the BBWAA. The Classic Baseball Era Committee will meet and have its hands full, trying to distill 140 years of baseball down to eight names (from Doc Adams to the Negro Leagues to Luis Tiant).

  %h4#bbwaa_2025
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2025

  %h4 Classic Baseball Era Ballot

  %h5#classic_baseball_2025_nlb
    Negro League Candidates
    %span (Candidates with MLE Hall Rating of 50+)

  %table.consensus-table
    %thead
      %tr
        %th
          Name
          %small (MLE Hall Rating)
        %th
          %abbr{title: "Hall of Stats"} HOS
        %th
          %abbr{title: "Hall of Merit"} HOM
    %tbody
      - @classic_nlb_2025.each do |hoc_player|
        %tr
          %th
            %a{href: player_path(hoc_player)}= hoc_player.name
            %small (#{hoc_player.mle_rating_rounded})
          %td
            - if hoc_player.mle_rating > 100
              %span{title: "HOF: true", class: true}= true
            - else
              %span{title: "HOF: false", class: false}= false
          %td
            %span{title: "HOM: #{hoc_player.hom}", class: hoc_player.hom}= hoc_player.hom

  %h5#classic_baseball_2025
    Other Candidates
    %span (Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @classic_era_2025

  <h3 id="year_2026">2026 <a href="#top">Back to Top</a></h3>

  %p
    We don’t really know what this BBWAA ballot will look like because not all retirements have been announced yet. The Contemporary Baseball Era ballot will meet again.

  %h4#bbwaa_2026
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2026

  %h4#contemporary_baseball_2026
    Contemporary Baseball Era Ballot
    %span (New Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @contemporary_era_2026

  <h3 id="year_2027">2027 <a href="#top">Back to Top</a></h3>

  %p
    We don’t really know what this BBWAA ballot will look like because not all retirements have been announced yet. The Contemporary Baseball ballot for Managers, Executives, and Umpires will be released again.

  %h4#bbwaa_2027
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2027

  <h3 id="year_2028">2028 <a href="#top">Back to Top</a></h3>

  %p The Classic Baseball Era meets again (with the same pool of candidates).

  <h3 id="year_2029">2029 <a href="#top">Back to Top</a></h3>

  %h4#contemporary_baseball_2029
    Contemporary Baseball Era Ballot
    %span (New Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @contemporary_era_2029

  <h3 id="year_2030">2030 <a href="#top">Back to Top</a></h3>

  %p The Contemporary Baseball Era meets again to review Managers, Executives, and Umpires.

  <h3 id="year_2031">2031 <a href="#top">Back to Top</a></h3>

  %p The Classic Baseball Era meets again (with the same pool of candidates).

  <h3 id="year_2032">2032 <a href="#top">Back to Top</a></h3>

  %h4#contemporary_baseball_2032
    Contemporary Baseball Era Ballot
    %span (New Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @contemporary_era_2032
