- content_for :title, "Upcoming Elections"

= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 Upcoming Elections

%figure.banner
  %img{:src => "/assets/photos/ramirma02.jpg"}
  %figcaption
    That’s Manny Ramirez.
    %a{:href => "https://www.flickr.com/photos/keithallison/2543388510/"} Photo Credit

%article#upcoming-body.long-form
  %p
    With <a href="/articles/changes-to-era-committees">the recent changes to the Hall of Fame’s Era Committees</a>, it can be difficult to know who is eligible for the Hall of Fame and when. I’ll do my best to clarify things for you. Please note that when a player played in multiple Eras, we’re grouping him in the Era in which he produced the highest Hall Rating.

  %p
    The red and green icons indidate whether or not the player is in the Hall of Stats (HOS) or Hall of Merit (HOM). If an icon is not present, the player is not yet eligible.

  %h3 2018

  %p 2018 features an impressive new crop of BBWAA candidates while fourteen players will return to the ballot. It was also the first time the new Modern Baseball Era Committee mets. They inducted Jack Morris and Alan Trammell.

  %h4#bbwaa_returning_2018
    BBWAA Ballot
    %span (All Returning Candidates)

  = render 'upcoming_table', pool: @bbwaa_2018_returning

  %h4#bbwaa_2018
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2018

  %h3 2019

  %p 2019 features even more first-ballot Hall of Fame talent on the BBWAA ballot. The Today’s Game Era will meet again, though the ballot will still be relatively thin.

  %h4#bbwaa_2019
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2019

  %h4#todays_game_2019
    Today’s Game Era Ballot
    %span (Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @tg_era_2019

  %h3 2020 

  %p Derek Jeter seems likely to headline the class of 2020. The Modern Baseball Era Committee will again meet.

  %h4#bbwaa_2020
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2020

  %h4#modern_baseball_2020
    Modern Baseball Era Ballot
    %span (Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @mb_era_2020

  %h3 2021

  %p While it may be a relatively weak group of newcomers to the BBWAA ballot, two Era Committees actually meet in 2021. It will be the first meeting for the Golden Days Era Committee (which features a relatively thin pool of qualified players) and the Early Baseball Era Committee (which still has a surprisingly deep pool).

  %h4#bbwaa_2021
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2021

  %h4#golden_days_2021
    Golden Days Era Ballot
    %span (Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @gd_era_2021

  %h4#early_baseball_2021
    Early Baseball Era Ballot
    %span (Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @eb_era_2021

  %h3 2022

  %p We don’t have a great sense of who all the new BBWAA candidates will be in 2022 yet because they were still active in 2016. But we do know the Today’s Game Era Committee will meet again and they’ll have many new strong candidates—particularly if Jeff Bagwell, Larry Walker, Edgar Martinez, and Fred McGriff miss BBWAA induction.

  %h4#bbwaa_2022
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2022

  %h4#todays_game_2022
    Today’s Game Era Ballot
    %span (New Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @tg_era_2022

  %h3 2023

  %p We don’t know who all the new BBWAA candidates will be in 2023 yet because they were still active in 2017. But we do know the Modern Baseball Era Committee will meet again, but they’ll have no new candidates to add to their enormous backlog.

  %h4#bbwaa_2023
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2023

  %h3 2024

  %p The Today’s Game Era Committee returns again. If Barry Bonds, Roger Clemens, Curt Schilling, Mike Mussina, Sammy Sosa, and Jeff Kent fail to gain induction via the BBWAA, they’ll all hit the ballot this year.

  %h4#todays_game_2024
    Today’s Game Era Ballot
    %span (New Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @tg_era_2024

  %h3 2025

  %p The Modern Baseball Era Committee meets again with no new candidates.

  %h3 2026

  %p The Golden Days Era Committee will meet again, but the Early Baseball Era Committee will not (it meets once every ten years). There will be no new candidates.

  %h3 2027

  %p In this election cycle, the Today’s Game Era Committee will be able to consider players who hit the BBWAA ballot for the first time in 2017 but didn’t gain induction.

  %h4#todays_game_2027
    Today’s Game Era Ballot
    %span (New Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @tg_era_2027

  %h3 2028

  %p The Modern Baseball Era Committee meets again with no new candidates.

  %h3 2029

  %p The Today’s Game Era Committee will meet again and evaluate candidates who finished their careers from 2012 to 2014, landed on the BBWAA ballot from 2018 to 2020, and failed to be inducted.

  %h3 2030

  %p The Modern Baseball Era Committee meets again with no new candidates.

  %h3 2031

  %p The Golden Days Era and Early Baseball Era Committees will meet again. There will be no new candidates.
