- content_for :title, "Upcoming Elections"

= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 Upcoming Elections

%figure.banner
  %img{:src => "/assets/photos/ramirma02.jpg"}
  %figcaption
    That’s Manny Ramirez.
    %a{:href => "https://www.flickr.com/photos/keithallison/2543388510/"} Photo Credit

%nav.jump-menu
  %strong Jump to:
  %ol
    %li= link_to "2020", "#year_2020"
    %li= link_to "2021", "#year_2021"
    %li= link_to "2022", "#year_2022"
    %li= link_to "2023", "#year_2023"
    %li= link_to "2024", "#year_2024"
    %li= link_to "2025", "#year_2025"
    %li= link_to "2026", "#year_2026"
    %li= link_to "2027", "#year_2027"
    %li= link_to "2028", "#year_2028"
    %li= link_to "2029", "#year_2029"
    %li= link_to "2030", "#year_2030"
    %li= link_to "2031", "#year_2031"

%article#upcoming-body.long-form
  %p
    With <a href="/articles/changes-to-era-committees">the changes to the Hall of Fame’s Era Committees</a> in 2016, it can be difficult to know who is eligible for the Hall of Fame and when. I’ll do my best to clarify things for you. Please note that when a player played in multiple Eras, we’re grouping him in the Era in which he produced the highest Hall Rating.

  %p
    The red and green icons indidate whether or not the player is in the Hall of Stats (HOS) or Hall of Merit (HOM). If an icon is not present, the player is not yet eligible.

  <h3 id="year_2020">2020 <a href="#top">Back to Top</a></h3>

  %p Derek Jeter will headline a relatively thin class of newcomers in 2020. That should give the fifteen returning candidates (<em>thirteen</em> of whom exceed the Hall of Stats borderline) a good chance to make some gains. The Modern Baseball Era Committee will again meet.

  %h4#bbwaa_returning_2020
    BBWAA Ballot
    %span (All Returning Candidates)

  = render 'upcoming_table', pool: @bbwaa_2020_returning

  %h4#bbwaa_2020
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2020

  %h4#modern_baseball_2020
    Modern Baseball Era Ballot
    %span (Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @mb_era_2020

  <h3 id="year_2021">2021 <a href="#top">Back to Top</a></h3>

  %p While it may be another relatively weak group of newcomers to the BBWAA ballot, two Era Committees actually meet in 2021. It will be the first meeting for the Golden Days Era Committee (which features a relatively thin pool of qualified players) and the Early Baseball Era Committee (which still has a surprisingly deep pool).

  %h4#bbwaa_2021
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2021

  %h4#golden_days_2021
    Golden Days Era Ballot
    %span (Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @gd_era_2021

  %h4#early_baseball_2021
    Early Baseball Era Ballot
    %span (Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @eb_era_2021

  <h3 id="year_2022">2022 <a href="#top">Back to Top</a></h3>

  %p We don’t have a great sense of who all the new BBWAA candidates will be in 2022 yet because they were still active in 2016. But we do know the Today’s Game Era Committee will meet again and they’ll have many new strong candidates—particularly if Jeff Bagwell, Larry Walker, Edgar Martinez, and Fred McGriff miss BBWAA induction.

  %h4#bbwaa_2022
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2022

  %h4#todays_game_2022
    Today’s Game Era Ballot
    %span (New Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @tg_era_2022

  <h3 id="year_2023">2023 <a href="#top">Back to Top</a></h3>

  %p The Modern Baseball Era Committee will meet again, but they’ll have no new candidates to add to their enormous backlog.

  %h4#bbwaa_2023
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2023

  <h3 id="year_2024">2024 <a href="#top">Back to Top</a></h3>

  %p The Today’s Game Era Committee returns again. If Barry Bonds, Roger Clemens, Curt Schilling, Mike Mussina, Sammy Sosa, and Jeff Kent fail to gain induction via the BBWAA, they’ll all hit the ballot this year.

  %h4#bbwaa_2024
    BBWAA Ballot
    %span (New Candidates with Hall Rating of 20+)

  = render 'upcoming_table', pool: @eligible_2024

  %h4#todays_game_2024
    Today’s Game Era Ballot
    %span (New Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @tg_era_2024

  <h3 id="year_2025">2025 <a href="#top">Back to Top</a></h3>

  %p The Modern Baseball Era Committee meets again with no new candidates.

  <h3 id="year_2026">2026 <a href="#top">Back to Top</a></h3>

  %p The Golden Days Era Committee will meet again, but the Early Baseball Era Committee will not (it meets once every ten years). There will be no new candidates.

  <h3 id="year_2027">2027 <a href="#top">Back to Top</a></h3>

  %p In this election cycle, the Today’s Game Era Committee will be able to consider players who hit the BBWAA ballot for the first time in 2017 but didn’t gain induction.

  %h4#todays_game_2027
    Today’s Game Era Ballot
    %span (New Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @tg_era_2027

  <h3 id="year_2028">2028 <a href="#top">Back to Top</a></h3>

  %p The Modern Baseball Era Committee meets again with no new candidates.

  <h3 id="year_2029">2029 <a href="#top">Back to Top</a></h3>

  %p The Today’s Game Era Committee will meet again and evaluate candidates who landed on the BBWAA ballot from 2018 to 2019 and failed to be inducted.

  %h4#todays_game_2029
    Today’s Game Era Ballot
    %span (New Candidates with Hall Rating of 50+)

  = render 'upcoming_table', pool: @tg_era_2029

  <h3 id="year_2030">2030 <a href="#top">Back to Top</a></h3>

  %p The Modern Baseball Era Committee meets again with no new candidates.

  <h3 id="year_2031">2031 <a href="#top">Back to Top</a></h3>

  %p The Golden Days Era and Early Baseball Era Committees will meet again. There will be no new candidates.
