!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    = yield :keywords
    %title= title_or_default
    %link{href: 'http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Inconsolata:400,700', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/articles.rss', rel: 'alternate', type: 'application/rss+xml'}
    %link{rel: 'shortcut icon', href: '/favicon.ico'}
    /[if lt IE 9]
      = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    = stylesheet_link_tag "application", :media => "all"
    = yield :header_styles
    = auto_discovery_link_tag(:rss, articles_url(format: "rss"))
    = javascript_include_tag "application"
    = yield :header_scripts
    = csrf_meta_tags

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-379490-12']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{body_attributes}

    - if @article
      #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    #layout

      = yield

    %footer
      - if @franchise
        %p
          %a{href: 'http://www.baseball-reference.com/teams/' + @franchise.id.upcase} #{@franchise.name}
          on Baseball Reference.
      - if @player
        %p
          - unless @player.only_mle
            %a{href: 'http://www.baseball-reference.com/pl/player_search.cgi?search=' + @player.id} #{@player.first_name} #{@player.last_name}
            on Baseball Reference.
          - if @player.has_photo?
            #{@player.name}
            = succeed "." do
              %a{href: @player.img_url} photo credit

      %p
        The Hall of Stats was built by
        = succeed "," do
          %a{:href => "http://darowski.com"} Adam Darowski
        = succeed "," do
          %a{:href => "http://semanticart.com"} Jeffrey Chupp
        and
        = succeed "." do
          %a{:href => "http://songsaboutsnow.com"} Michael Berkowitz
        Follow the Hall of Stats on
        %a{:href => "http://twitter.com/hallofstats"} Twitter
        or
        = succeed "." do
          %a{:href => "http://facebook.com/hallofstats"} Facebook

        The Hall of Stats is open sourced on
        = succeed "." do
          %a{:href => "https://github.com/adarowski/Hall-of-Stats"} GitHub
        All data is also open and
        = succeed "." do
          %a{:href => "/about#tech"} available as a free download
      %p
        All Wins Above Replacement and Wins Above Average data comes from
        = succeed "." do
          %a{:href => "http://baseball-reference.com"} Baseball-Reference.com
        They are awesome.
        = succeed "." do
          %a{:href => "/about#thanks"} (More Thanks)
