!!!
%html
  %head
    %meta{:charset => "UTF-8"}
      %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
        %title Hall of Stats
        = stylesheet_link_tag    "application", :media => "all"
        = yield :header_styles
        = javascript_include_tag "application"
        = csrf_meta_tags
  %body{body_attributes}
    #layout

      = yield

      %footer
        %p
          The Hall of Stats was built by
          = succeed "," do
            %a{:href => "http://darowski.com"} Adam Darowski
          = succeed "," do
            %a{:href => "http://semanticart.com"} Jeffrey Chupp
          and
          = succeed "." do
            %a{:href => "http://twitter.com/hal678"} Michael Berkowitz
          Follow
          %a{:href => "http://twitter.com/hallofstats"} @HallOfStats
          on Twitter.
        %p
          The Hall of Stats is based on WAR data provided by
          = succeed "." do
            %a{:href => "http://baseball-reference.com"} Baseball-Reference
          Seriously, Baseball-Reference is awesome for providing all of their WAR data, free of charge.
        - if @player && @player.has_photo?
          %p
            %a{href: @player.img_url} #{@player.name} photo
            used by permission.
