!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    %title= title_or_default
    %link{href: 'http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Inconsolata:400,700', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/articles.rss', rel: 'alternate', type: 'application/rss+xml'}
    /[if lt IE 9]
      = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    = stylesheet_link_tag "application", :media => "all"
    = yield :header_styles
    = auto_discovery_link_tag(:rss, articles_url(format: "rss"))
    = javascript_include_tag "application"
    = csrf_meta_tags

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-379490-12']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{body_attributes}

    - if @article
      #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    #layout

      = yield

    %footer
      %p
        The Hall of Stats was built by
        = succeed "," do
          %a{:href => "http://darowski.com"} Adam Darowski
        = succeed "," do
          %a{:href => "http://semanticart.com"} Jeffrey Chupp
        and
        = succeed "." do
          %a{:href => "http://songsaboutsnow.com"} Michael Berkowitz
        Follow
        %a{:href => "http://twitter.com/hallofstats"} @HallOfStats
        on Twitter.
      - if @player && @player.has_photo?
        %p
          %a{href: @player.img_url} #{@player.name} photo
          used by permission.
