- content_for :title, "Negro League MLEs"

= render 'shared/header'

= render 'shared/search'

%header.title
  %h2 Negro League MLEs

%figure.banner
  %img{:src => "/assets/photos/beckwjo02.jpg"}
  %figcaption
    That’s John Beckwith.
    %a{:href => "https://yogiberramuseum.org/visit/exhibits/discover-greatness/part3/"} Photo Credit

%article#upcoming-body.long-form
  %p
    Content to come


  %table.mle-table
    %thead
      %tr
        %th
          Name
        %th Position
        %th Hall Rating
        %th MLE Hall Rating
    %tbody
      - @has_nlmle.each do |mle_player|
        %tr
          %th
            %a{href: player_path(mle_player)}= mle_player.name
          %td= mle_player.position.upcase
          %td
            - if mle_player.hall_rating
              = mle_player.hall_rating_rounded
          %td= mle_player.mle_rating_rounded
